[2016-05-18 20:44] cch5ng opened #1 "warnings for web-start tutorial step 5, 6"
I navigated to the web-start subdirectory, then tried to run

but am getting warnings like:
* You are currently outside your home directory
* You are initializing in an existing Firebase project directory

is this expected? I tried to skip the init command but if I try to run

an error results after trying to start the server: Error: An unexpected error has occurred.

[2016-05-18 20:55] cch5ng commented on #1
am closing this as I just decided to run

(although I didn't want to overwrite something important)

now the server is running ok (with firebase serve)

[2016-05-18 20:55] #1 closed

[2016-05-18 21:52] uzusan opened #2 "User Sign-in"
In the Initialize Firebase Auth section, the Firebase SDK features, this.auth(); etc return an error saying this.auth() is not a function:
[code]

Changing these to firebase or more explicitly window.firebase solves this:
[code]

[2016-05-18 22:37] uzusan opened #3 "11. Send Images"
in saveImageMessage this:

`imageUrl: FriendlyChat.LOADING_IMAGE,`

Should be:

`imageUrl: FriendlyChat.LOADING_IMAGE_URL,`

As earlier in main.js this is set:

`FriendlyChat.LOADING_IMAGE_URL = 'https://www.google.com/images/spin-32.gif';`

Also there are a few variable name changes required in setImageUrl as the variables passed in are different:

[code]

Working version:

[code]
Changed imageUr

[2016-05-18 23:16] vladiim opened #4 "firebase serve config"
Whilst working through you [Web Chat App Javascript tutorial](https://codelabs.developers.google.com/codelabs/firebase-web/#5) I hit an error when executing `firebase serve`.

From, `firebase-debug.log`:
`[debug] TypeError: Cannot read property 'public' of undefined
    at Server.<anonymous> (/usr/local/lib/node_modules/firebase-tools/commands/serve.js:25:15)`

I was able to prevent this error by

[2016-05-18 23:26] uzusan commented on #4
I had a similar issue. If you go into the web-start directory and run:
`firebase init`
when you get to this question:
[code]
You can use ./ here (make sure you tell it not to redirect links or overwrite index.html as well in the other steps for init).

When you get to step 13:
https://codelabs.developers.google.com/codelabs/firebase-web/#12

firebase.json has a section that does the same thing:
[c

[2016-05-18 23:42] vladiim commented on #4
Thanks @uzusan, I was sure it was a rookie error.

[2016-05-18 23:42] #4 closed

[2016-05-18 23:46] muffycompo opened #5 "Older version running on Codelab Computers"
The version of Firebase CLI installed on the Codelab Computers (firebase 2.2.x) are older that the version used for the Codelab examples (firebase 3.x.x). It should be indicated in the Codelab documentation that users have to use the updated version of firebase CLI.

[2016-05-19 00:49] cbetz opened #6 "Update web tutorial to include firebase init"
There is a missing step in "5. Install the Firebase Command Line Interface." One must `firebase init` and enter "." for the public directory. Please update the tutorial.

Without doing this `firebase serve` will fail as it is looking for "public." See #4

[2016-05-19 01:51] nicolasgarnier commented on #6
Thanks for trying out our codelabs @cbetz!
Your issue might be because you are using an older version of the CLI. Rune `firebase version` to make sure it prints out `3.0.0`.

Right now with the new CLI I don't seem to be getting an error when trying `firebase serve`...

[2016-05-19 01:55] nicolasgarnier commented on #6
Actually never mind. It seems the alpha version of the CLI I was using did not require the "hosting/public" attribute in the firebase.json but it now does...

[2016-05-19 01:56] nicolasgarnier commented on #4
Thanks for the report guys. I'll fix this. It seems the alpha version of the CLI that I was using did not require the hosting/public attribute to be set but it now does...

[2016-05-19 01:57] nicolasgarnier commented on #5
Just added that to the instructions. Thanks for the report!

[2016-05-19 01:57] #5 closed

[2016-05-19 02:02] nicolasgarnier commented on #3
Thanks! All fixed. I'll publish the new version asap

[2016-05-19 02:02] #3 closed

[2016-05-19 02:03] nicolasgarnier commented on #2
Fixed!

[2016-05-19 02:03] #2 closed

[2016-05-19 02:21] nicolasgarnier commented on #6
Fixed thanks! We'll need to wait a bit for the codelab script to be pushed (so that it makes sense with the code in the repo) I've added the hosting attribute in the `firebase.json` file that you start with.

[2016-05-19 02:21] #6 closed

[2016-05-19 07:56] gg2001 opened #7 "Cannot deploy?"
I am trying to deploy the completed app, however it is not working. Here are my logs:

[2016-05-19 07:58] yarnball opened #8 "No sign-in button & Docs update (storageBucket)- "Not enabled Firebase Storage""
Hi,

I'm following the docs precisely (https://codelabs.developers.google.com/codelabs/firebase-web/#) but I keep arriving at the error:

I am not able to see a "Sign-in" button (despite it being in the HTML).

Here is the parts I added to `main.js` in case there were any errors there (seeing as parts of the document snippets of code ended in `...` somewhat confusing...):

[code]

SEPERATE ISSUE/N

[2016-05-19 08:04] yarnball commented on #7
Possibly related to my issue, the sample docs don't give me an actual code for "storageBucket". I put a random value there, and no longer got the error.

[2016-05-19 08:48] nicolasgarnier commented on #7
You'll have to replace some placeholder in the storage.rule file. The instructions should be in the README.md file.  Please let me know if the instructions don't make sense!

[2016-05-19 08:48] #7 closed

[2016-05-19 08:55] nicolasgarnier commented on #8
Thanks for repporting. Actually the storage bucket should always be there the first time you generate copy the snippet so this seems like a bug. I'll report this to the Firebase storage team so that they improve the auto-provisioning. Sorry about this!

[2016-05-19 09:20] tophcito opened #9 "Downloading image uses wrong variable name"
I've found that when pulling an uploaded image from storage, `main.js`' `setImageUrl()` uses `imageStorageUri` instead of `imageUri`. This results in an undefined error for me. This line works though:
`this.storage.refFromURL(imageUri).getMetadata().then(function(metadata) {`

[2016-05-19 09:30] gg2001 opened #10 "Site not found?"
I have deployed the completed web app to firebase, however when I go there, I get a message saying 'Site not Found'. Is there any way to fix this?

[2016-05-19 09:47] yarnball commented on #8
No problem. Please update regarding the sign-up button.

The notes were a little confusing at **5** (Install the Firebase Command Line Interface). Do I just "install" (`npm install -g firebase-tools`) or do I need to "deploy" also?

Both ways still have the no-sign up button issue. And yes I've enabled Google in the Auth section of the console.

[2016-05-19 13:01] CreaRo opened #11 "Sign-in Failed - Android"
While trying to sign-in, I keep getting the following error.
`E/SignInActivity: Google Sign In failed. Status{statusCode=unknown status code: 12501, resolution=null}, null`
I suspect it's the GoogleSignInOptions `requestIdToken()` method causing the issue. I changed the string passed as the `default_web_client_id` to the credentials of server key auto generated in Google APIs credentials. That doe

[2016-05-19 13:14] cbetz commented on #6
Thank you for the quick reply @nicolasgarnier

[2016-05-19 14:56] mig82 commented on #9
Hi. I just ran into the same issue. It's not hard to tell by reading the code that this variable is not declared. But it would be nicer for the code to be right from the start.

[2016-05-19 15:11] ziedhajsalah commented on #9
Same case for me.

[2016-05-19 16:44] ridhwandaud opened #12 "Sign-in Failed - Android"
#I cannot sign in again after sign out , got this error in logcat

signInWithCredential:onComplete:false
signInWithCredential com.google.firebase.FirebaseException: An internal error has occured. [ Invalid id_token in IdP response: ...]
at com.google.android.gms.internal.zzacq.zzbN(Unknown Source)
at com.google.android.gms.internal.zzacn$zzg.zza(Unknown Source)
at com.google.android.gms.internal.z

[2016-05-19 17:07] nikolaspapirniywork opened #13 "11. Send images issue"
There is a bug in a code

`
// Sets the URL of the given img element with the URL of the image stored in Firebase Storage.
FriendlyChat.prototype.setImageUrl = function(imageUri, imgElement) {
  // If the image is a Firebase Storage URI we fetch the URL.
  if (imageUri.startsWith('gs://')) {
    imgElement.src = FriendlyChat.LOADING_IMAGE; // Display a loading image first.
    this.storage.refFrom

[2016-05-19 18:34] nicolasgarnier commented on #12
@gkaldevrel could you have a look?

[2016-05-19 18:34] nicolasgarnier commented on #11
@gkaldevrel could you have a look?

[2016-05-19 18:35] nicolasgarnier commented on #10
Could you paste the output of the `firebase deploy` command and provide the URL of your deployed app?

[2016-05-19 18:38] nicolasgarnier commented on #9
Sorry about that and thanks for the report! I've fixed it now and the fix will be published very soon.

[2016-05-19 18:38] #9 closed

[2016-05-19 18:39] nicolasgarnier commented on #13
Sorry about that and thanks for the report! I've fixed it now and the fix will be published very soon.

[2016-05-19 18:39] #13 closed

[2016-05-19 18:43] nicolasgarnier commented on #8
AH yes that's because you deleted what was inside of `FriendlyChat.prototype.onAuthStateChanged` whereas you should only add the 2 lines at the top of the existing code (just replace the TODO). I'll try to make this clearer in the instructions thanks!

[2016-05-19 18:44] nicolasgarnier commented on #8
And for firebase tools you don't need to run `firebase init`. I'll also add something in the instructions about this...

[2016-05-19 19:02] nicolasgarnier commented on #8
Also the same applies to `checkSignedInWithMessage` you should just add the lines and replace the `TODO`.

[2016-05-19 19:24] nicolasgarnier commented on #8
I changed the error message (for that storageBucket bug) and updated the text in the codelab to make it clearer that you need to add and not replace the function in some cases. Thanks for the report!

[2016-05-19 19:24] #8 closed

[2016-05-19 19:25] zanvan opened #14 "Wrong parameter in the tutorial on the Send Images step"
The second code block that shows how to do the setImageUrl.
The "imageStorageUri" parameter should be "imageUri".
It is correct in the full web solution.

[2016-05-19 20:49] nicolasgarnier commented on #14
This should be fixed now! Thanks fro the report!

[2016-05-19 20:49] #14 closed

[2016-05-19 21:00] smrubin opened #15 "Undesired overflow-x scrolling for #messages div (not present in tutorial screenshots)"
The CSS `.message-container .name { width: 100%; padding-left: 40px; }` is causing an undesired x-scroll on the messages list; due to box-sizing adding the 40px padding to the total width.

Could modify the rule above or add `box-sixing: border-box`.

[2016-05-19 21:18] nicolasgarnier commented on #15
Fixed! Thanks for the report!

[2016-05-19 21:18] #15 closed

[2016-05-19 21:18] smrubin opened #16 "Wrong parameter used in saveImageMessage for web-start"
Currently reads:
[code]

Should read:
[code]

It is correct in the web directory.

[2016-05-19 21:23] nicolasgarnier commented on #16
Thanks again @smrubin I fixed the code and will re-publish the fixed instructions soon.

[2016-05-19 21:23] #16 closed

[2016-05-19 21:27] nicolasgarnier commented on #8
hey @yarnball could you give us your Project ID? We'd like to see what happen in our backend that caused you not to have the `storageBucket` created properly.

[2016-05-19 21:46] gkaldevrel commented on #11
@kroikie who worked on this component.

[2016-05-19 21:46] gkaldevrel commented on #12
@kroikie who worked on this component.

[2016-05-19 23:20] niiapa opened #18 "Typo in Step 11 of Codelabs tut"
[code]

The line `this.storage.refFromURL(imageStorageUri).getMetadata().then(function(metadata) {`
should have imageUri in parenthesis instead of imageStorageUri.

Secondly, and unrelated to the title, image upload doesn't seem to work for my and my friend. We've tried everything.

[2016-05-19 23:35] nicolasgarnier commented on #18
Hey @niiapa we fixed this about 2 hours ago. Can you refresh your page and check that you see the fix? Let me know if you still see the issue.

Thanks for reporting this!

[2016-05-19 23:35] #18 closed

[2016-05-20 01:27] sweetIan opened #19 "Typo in Codelabs guide"
https://codelabs.developers.google.com/codelabs/firebase-web/index.html#10

In section
**Display images from Firebase Storage**

[code]
should be
[code]

[2016-05-20 04:09] nicolasgarnier commented on #19
Thanks so much for filing this @sweetIan. I've fixed it and now need to wait for the instructions to be published again.

[2016-05-20 04:09] #19 closed

[2016-05-20 08:39] pmuston opened #20 "uploaded images not displayed"
not sure if this is the correct way to provide this feedback...
but when following instruction from:
https://codelabs.developers.google.com/codelabs/firebase-web/index.html
Section 11 and following along editing web-start project.

setImageUrl snippet fails to create correct URL.
in console getting:
firebase.js:362 Uncaught ReferenceError: imageStorageUri is not defined

reference to imageStorageU

[2016-05-20 12:28] ishwardhanuka opened #21 "No FCM"
https://firebase.google.com/docs/samples/

mentions friendlychat is supposed to have FCM.

[2016-05-20 14:18] mikeonline opened #22 "Install Firebase command line tools step 1 may be incorrect."
when following the instructions here: https://console.firebase.google.com/project/friendlychat-740b9/hosting

on step 1: Install Firebase tools
it says to install using the command: "npm install -g firebase-tools"

yet on this page: https://codelabs.developers.google.com/codelabs/firebase-web/#4
it says after installing, check the version using:  "firebase version" and that the version should be "

[2016-05-20 14:25] mikeonline opened #23 "Setup the Firebase CLI to use your Firebase Project instructions may be wrong."
page: https://codelabs.developers.google.com/codelabs/firebase-web/#4

under step 5 the instruction;
Setup the Firebase CLI to use your Firebase Project:

$~> firebase use --add

returns:
Error: firebase use must be run from a Firebase project directory.

[2016-05-20 17:33] FredvanRijswijk opened #24 "Undeclared types in Swift Example"
![schermafbeelding 2016-05-20 om 19 29 49](https://cloud.githubusercontent.com/assets/899180/15436304/7da28ce0-1ec1-11e6-823d-54ef194a25a0.png)

After following the steps in codelabs, I get this... Undeclared types...

[2016-05-20 19:04] nicolasgarnier commented on #21
Unfortunately FCM is only available to Android and iOS today (which they do have as part of this codelab).

[2016-05-20 19:05] nicolasgarnier commented on #24
@iulukaya can you have a look?

[2016-05-20 19:10] nicolasgarnier commented on #20
Thanks for the report. We had indeed this issue in the codelab which we fixed yesterday. It seems your browser still had the older version of the codelab with the issue in its cache.
Sorry about that!

[2016-05-20 19:10] #20 closed

[2016-05-20 19:14] nicolasgarnier commented on #23
Mhh strange. `firebase use --add` should be working as long as you have a `firebase.json` file in your directory.
Perhaps you did not do it from the `web-start` directory but from the root of the repo? I'll add instructions to make sure people enter this repo first.
Thanks for the report.

[2016-05-20 19:14] #23 closed

[2016-05-20 19:17] ishwardhanuka commented on #21
Hey @nicolasgarnier I dont see any code relating to FCM. Could you please point me to the file?

[2016-05-20 19:19] nicolasgarnier commented on #22
@mikeonline did you ever installed the Firebase tools/cli before on your machine (before we launched v3 at Google IO) basically did you have v2.2 previously installed perhaps?

`firebase-cli` has been deprecated a year ago and only installs v1. NPM should have printed this message"

    npm WARN deprecated firebase-cli@1.2.0: Use firebase-tools instead.

Both v2 and v3 can be installed with `npm i

[2016-05-20 19:29] nicolasgarnier commented on #21
Sure! You'll find that in [step 9 of the Android codelab](https://codelabs.developers.google.com/codelabs/firebase-android/#8) for instance. However I can;t seem to find such code on the iOS codelab. @iulukaya are there plans to add FCM to the iOS codelab?

[2016-05-20 19:43] bdonkey opened #25 "ios error when trying to add photo"
* running complete ios project.
* Adding messages no problem
* When trying to add a photo, app bombs with following error

`
2016-05-20 14:37:10.156 FriendlyChatSwift[32573:72997859] *** Assertion failure in -[UITableView _endCellAnimationsWithContext:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKit_Sim/UIKit-3512.60.7/UITableView.m:1716
2016-05-20 14:37:10.162 FriendlyChatSwift[32573:7299

[2016-05-20 19:46] nicolasgarnier commented on #25
@iulukaya could you have a look?

[2016-05-20 20:20] iulukaya commented on #25
It's related to your storage not enabled. If you just click the storage tab in your Firebase console, it'll set it up for you and upload will work next time you try.

[2016-05-20 20:57] iulukaya commented on #21
FCM requires APNs to be setup, and registered to Apple. So we took it out from the codelab, but you can always look into the samples.
https://github.com/firebase/quickstart-ios/tree/master/messaging

[2016-05-20 20:57] #21 closed

[2016-05-20 20:59] iulukaya commented on #24
I just updated the imports from seperate modules to
"import Firebase", please do so in your source files and it should work.

[2016-05-20 20:59] #24 closed

[2016-05-20 22:22] FredvanRijswijk commented on #24
Thnx, It's fixing the Undeclared errors, but it won't build... Starting again, new xcode project and got clone etc... gives this error

    1.	While loading members for 'SignInViewController' at <invalid loc>
    2.	While deserializing 'setDisplayName' (FuncDecl #16)

Clean, restart xcode, clean again and deleted DerivedData and build again... but stil is giving this error

[2016-05-20 23:20] bdonkey commented on #25
@iulukaya
hmmm..not sure I understand this.
here is what i find in my storage tab:
![image](https://cloud.githubusercontent.com/assets/3912582/15444013/48241778-1eb2-11e6-94cf-5737c0c4ead8.png)
and
![image](https://cloud.githubusercontent.com/assets/3912582/15444036/68498a60-1eb2-11e6-81e5-59c151636721.png)

I can upload a file from the storage tab in the console. However, in the code it bombs out

[2016-05-21 02:31] niiapa commented on #11
Same error. Any headway?

[2016-05-21 12:52] bruceherve opened #26 "image upload for the web app does not work"
Image upload does not work. when I pick an image the spinner goes on forever without uploading.. he is the console output:
 **Failed to load resource:  https://friendlychat-7f0bc.firebaseapp.com/null
 server responded with a status of 404 (Not Found)**

If I sign out and sign in again the spinner keeps loading..
Also in order to upload the image, the image name has to start with "image", it would

[2016-05-21 17:28] bdonkey commented on #25
## Update
Code bombs out in `FCViewController` function `viewWillAppear`

**This Bombs**
[code]

Commenting out `self.messages.removeAll()` the code does not bomb.
**This runs but list prints out twice**
[code]

[2016-05-22 14:31] abhayworld123 opened #27 "google signin photo NULL"
google signin JSON returning photoURL NULL value .

[2016-05-22 19:07] JosephGarcia commented on #25
I have had the same problem. I moved the viewWillAppear code inside the viewDidLoad. Everything seems to be working fine. I am still a noobie but firebase is real time so I don't see why not just putting the observeEventType code into the viewDidLoad since its going to run still when you add a photo or text.

It is duplicating because viewDidAppear is running every time you dismiss the view contro

[2016-05-23 18:45] slotbite opened #28 "Android Start Google Sign In failed."
On method **onActivityResult** of mi **MainActivity.java**  show this
`            } else {
                // Google Sign In failed
                Log.e(TAG, "Google Sign In failed.");`

[2016-05-23 19:29] slotbite commented on #26
image api is down ... same problem

[2016-05-23 19:30] slotbite commented on #27
Image Api is down same problem...

[2016-05-23 20:12] slotbite commented on #28
Well finally login , make a new project, after get the sha1 code in Gradle->Android-start->Tasks->singningReports, put the new google-services.json on src folder and uninstall app ..... Run the project! and voilà , happy coding!

[2016-05-23 20:14] slotbite commented on #11
Well finally login , make a new project, after get the sha1 code in Gradle->Android-start->Tasks->singningReports, put the new google-services.json on src folder and uninstall app ..... Run the project! and voilà , happy coding!

[2016-05-23 20:58] nicolasgarnier commented on #28
@kroikie

[2016-05-23 20:59] nicolasgarnier commented on #27
Is this with the Android, Web or iOS app ?

[2016-05-23 21:03] slotbite commented on #27
web for me

[2016-05-23 21:04] slotbite commented on #28
finally works.. close thx

[2016-05-23 21:06] nicolasgarnier commented on #26
##### Image file name issue

You can upload images with any names, we only restrict by MIME type:

    <input id="mediaCapture" type="file" accept="image/*,capture=camera">

Can you confirm that your File picker only lets you choose with files that start with `image` ? On which Browser/Os is this happening?

##### 404 error

Can you double check that the `storageBucket` URL is not empty in your Fi

[2016-05-23 21:07] nicolasgarnier commented on #28
👍

[2016-05-23 21:07] #28 closed

[2016-05-23 21:08] nicolasgarnier commented on #27
OK so This issue seems to be related to the profile pic URL.
@abhayworld123 can you share your UID here? Are you sure that you have uploaded a Profile Pic on your Google account?

[2016-05-23 21:10] nicolasgarnier commented on #26
@slotbite Could you tell em what you mean by "image api"?  Give any details as you can please. Such as How to reproduce the issue. At which step o the codelab does this happens? etc...

[2016-05-23 21:55] ethanneff commented on #25
missing ```self.clientTable.reloadData()``` after ```self.messages.removeAll()```

[code]

[2016-05-23 22:00] ethanneff commented on #25
@JosephGarcia by moving the code from ```viewDidAppear()``` to ```viewDidLoad()```, you will remove the Realtime Database from the app whenever a user open the Camera Picker. The database listener is removed within ```viewWillDisappear()```.
[code]

[2016-05-24 01:20] ecaplain commented on #25
@ethanneff did you actually mean self.clientTable.reloadData() should be added to viewWillAppear() as instructed in the tutorial?

[2016-05-24 01:25] ecaplain commented on #25
Slightly off topic, but I just noticed the image is saved wrapped in an optional. Looking for that and why "sent by: <user>" is displayed in the chat view...

[2016-05-24 01:54] kelokchan opened #29 "firebase serve error"
I am following the instructions exactly but I'm getting this error.

[debug] ----------------------------------------------------------------------
[debug] Command:      C:\Program Files\nodejs\node.exe C:\Users\kuokkit.chan\AppData\Roaming\npm\node_modules\firebase-tools\bin\firebase serve
[debug] CLI Version:  3.0.0
[debug] Platform:     win32
[debug] Node Version: v4.4.4
[debug] Time:         T

[2016-05-24 03:02] bdonkey commented on #25
@JosephGarcia Thx for the comment. I was looking into what you were saying when @ethanneff helped clarify.

@ecaplain Yes is seems to me that @ethanneff meant `viewWillAppear()` and not `viewDidLoad()`.

@ethanneff I tested this really quickly and you are right, the code stopped bombing into debugger. However it seems I am still getting double entries in my list when I add pictures. This could be

[2016-05-24 03:41] kilna opened #30 "Sign-in pop-up windows flashes up but never signs in- Chrome / Windows"
Following the instructions for the tutorial, when I attempt to log in, the pop-up windows flashes on the screen for a fraction of a second and disappears, and never logs me into the app. I copied the main.js from the "web" dir into "web-start" and it still doesn't work.

[2016-05-24 03:52] bojeil-google commented on #30
It is most likely an error being thrown and that is why the attempt is failing. Try to catch the error. It will provide you with a lot of info. One common error is that you need to whitelist your domain in the firebase console.

[2016-05-24 04:53] mikeonline commented on #22
Yes this fixes the issue
thanks

[2016-05-24 04:53] #22 closed

[2016-05-24 05:49] kilna commented on #30
I see now, I fired up a browser and pointed it at 127.0.0.1:5000 ...  I actually needed localhost:5000

[2016-05-24 07:36] nicolasgarnier commented on #29
`[debug] TypeError: Cannot read property 'public' of undefined`

This means that there is no `hosting.public` attribute in the `firebase.json` file. It should have that see: https://github.com/firebase/friendlychat/blob/master/web-start/firebase.json (unless you checked out the code the first couple days of Google IO, we've fixed it since). Can you make sure you checkout the latest code from the G

[2016-05-24 07:36] #29 closed

[2016-05-24 07:38] bojeil-google commented on #30
If 127.0.0.1 is not already whitelisted in firebase console, you can try to whitelist it manually.
Unauthorized domain whitelisting errors should only happen at the development stage. Once a domain is whitelisted, it should always work as long as you follow the instructions in the documentation and you stick to the authorized domains.
You can catch these errors when you attempt a signInWithPopup,

[2016-05-24 07:44] nicolasgarnier commented on #30
Glad you found what the issue was @kilna. By default we only whitelsit localhost and not 127.0.0.1
Also it's unexpected that this failed silently. Typically an error is thrown by the auth iframe that we inject, at least I've seen that a few time. I'll try to repro this. Can you just let us know what browser you've been using (just in case this has an impact) ?

[2016-05-24 13:46] slotbite commented on #26
![0hn1chmdpt](https://cloud.githubusercontent.com/assets/6174122/15505807/6ddb5a26-219b-11e6-8f52-22446274a2a1.gif)

The response
`{
  "error": {
    "code": 403,
    "message": "Unauthorized request."
  }
}`

`code: "storage/unauthorized", message: "Firebase Storage: User does not have permission to…4096759791/5888042d60b337419a73da08dc073c24.jpg'.", serverResponse: "{↵  "error": {↵    "code": 40

[2016-05-24 14:02] nicolasgarnier commented on #26
Yes the rules are not correct, for them to work you need a `userId` in the path. See this file: https://github.com/firebase/friendlychat/blob/master/web/storage.rules

the second `match` line needs to be `match /{userId}/{timestamp}/{fileName} {` instead of `match /{allPath=**} {`

[2016-05-24 14:11] slotbite commented on #26
Cool! Thanks you

[2016-05-24 14:19] #26 closed

[2016-05-24 16:53] abhayworld123 commented on #27
yes with web , and i do have a profile pic .

[2016-05-24 17:04] abhayworld123 commented on #27
SxkpdGL6gWgYdtMJjnEdnkDet7z1   UID

https://friendlychat-59f2e.firebaseapp.com/

[2016-05-24 19:24] ecaplain commented on #25
@bdonkey It's actually tableView() that gets called twice when an image is uploaded, not viewWillAppear, but I haven't figured out why yet...

[2016-05-24 21:06] kilna commented on #30
I'm running Google Chrome 50.0.2661.102 m :)

[2016-05-25 00:42] paul-matthews opened #31 "Android: Retrieve photoURL not populating from Firebase"
When a record is loaded from Firebase, the photoURL isn't being populated in the model. This is because the photoURL db property doesn't match the Camel Case attribute referenced in the model.

Please change photoUrl to photoURL, setPhotoUrl to setPhotoURL and getPhotoUrl to getPhotoURL.

This is not an issue when a message is sent because the model's constructor is called and sets the right prope

[2016-05-25 00:59] kroikie commented on #31
Messages with photoUrls should be populated by the model, thus there should never be a field photoURL coming from the db. Could you expand on where you found photoURL coming from the db?

[2016-05-25 07:22] hasrants commented on #25
i am having same issue here. The original code from Firebase tutorial crashes app when selecting a photo. Reloading table as specified here in this issue thread, just creates a dual "sent by" with username and then photo when clicked.

[2016-05-25 09:04] nicolasgarnier commented on #31
Hey @paul-matthews is your bug report for the Web, iOS or Android codelab?

[2016-05-25 16:12] paul-matthews commented on #31
@nicolasgarnier it's in the title :D

@kroikie the name of the model property is wrong, it should be photoURL but is photoUrl. Therefore when Firebase directly sets the property on the class, it's not set.

+ Steps to Reproduce
- Write a message in the web
- Open mobile app look at messages, all of them will have no sender image

P.s. I'm happy to create a PR.

[2016-05-25 16:21] kroikie commented on #11
@CreaRo is this still an issue for you. If so I would double check that you are using the correct SHA1 and package name for your project, also be sure that you are including the correct google-services.json file.

[2016-05-25 16:27] kroikie commented on #12
Hi @ridhwandaud to be clear you are able to sign-in initially but when you sign out and you try to sign in again you are getting this error?

[2016-05-25 17:26] kroikie commented on #31
@paul-matthews if you write a message in the web, it should add a field photoUrl to the message object. I'm still not sure where photoURL is being added to the database, could you point to that?

[2016-05-25 17:36] jmheist commented on #25
Same problem here. Loading the copleted app from firebase codelab, app crashes with "'Invalid update: invalid number of rows in section 0" As OP stated. Adding self.clientTable.reloadData() after self.messages.removeAll() in viewWillAppear() fixes the error, but loads the image twice in the table.

1. The message is only added to the firebase database once.
2. Deleting the entry from the firebase

[2016-05-25 19:45] kroikie commented on #31
Spoke with @paul-matthews offline, seems there was a bit of an auto-complete issue. So closing.

[2016-05-25 19:45] #31 closed

[2016-05-26 02:03] ridhwandaud commented on #12
@kroikie yes I can login initially but cannot second times , but I think can closed this issue because the app can now run in emulator after i reboot the emulator.

[2016-05-26 02:03] #12 closed

[2016-05-26 02:52] lawgimenez opened #32 "FirebaseApiNotAvailableException"
Followed the tutorial **For Android** and after implementing the sign in/sign out, Firebase threw an exception like
`com.google.firebase.FirebaseApiNotAvailableException: API: InternalFirebaseAuth.FIREBASE_AUTH_API is not available on this device.`

[2016-05-26 14:00] kroikie commented on #32
This may be due to the device not having the latest version of Google Play services, what version does it have?

[2016-05-28 17:40] CreaRo commented on #11
I'll try again in a couple days and update.

[2016-05-28 21:55] unotinto opened #34 "IOS-Swift"
in FCViewController.swift (FriendlyChatSwift)

The line
if let imageUrl = message[Constants.MessageFields.**imageURL**]  should be
if let imageUrl = message[Constants.MessageFields.**photoUrl**]

There is no constant imageUrl

    func tableView(tableView: UITableView, cellForRowAtIndexPath indexPath: NSIndexPath) -> UITableViewCell {
        // Dequeue cell
        let cell: UITableViewCell! = se

[2016-05-29 02:31] erickuhn19 commented on #25
Hey everyone,

This thread on [stackoverflow](http://stackoverflow.com/questions/37400316/image-upload-crash-in-firebase-codelabs-friendlychat-tutorial) shows you how to solve this issue.

Need to add this code to viewWillDisappear

[code]

[2016-05-29 18:32] johngeffe commented on #30
For me the sign-in cookie was being blocked by Chrome because my default browser configuration (preference) is to "Block third-party cookies and site data", after allowing an exception for my authDomain the sign-in worked as expected.

[2016-05-31 04:08] justinackermann opened #35 "imageData returning nil"
The code is bugging out on this line:

`self.profileImageStorage.child(imagePath).putData(imageData!, metadata: metadata) { (metadata, error) in`

because the line:

`let imageData = UIImageJPEGRepresentation(image, 1)`

is returning nil and then failing when putting the data.

Currently I am just trying to get the upload to work before implementing further code relavant to my project. Here is my

[2016-06-01 02:31] justinackermann commented on #35
Closed! Fixed myself. Configure functions were not correct and the actual nil value was the storage reference. Output was telling me the incorrect value.

[2016-06-01 02:31] #35 closed

[2016-06-04 21:37] robohal commented on #30
I have the same issue.  Running Chrome Version 50.0.2661.102 (64-bit).  Checked preferences and not blocking third-party cookies.  Funny, the popup seems to work the first time i try to auth, but on subsequent tries it just flashes.  on screen record it seems that the popup says 'login successful, you may close this window.'  but if i run getAuth() the result is null, so something is lying.  using

[2016-06-06 05:08] bojeil-google commented on #30
Hey robohal, you are using the old SDK. The original question and solutions proposed are only relevant to the latest FIrebase auth 3.0 SDK.

[2016-06-06 06:18] robohal commented on #30
Gotcha.  Well, of note - in desperation i upgraded to 3.0 and it totally
solved my issues with the auth.

On Mon, Jun 6, 2016 at 5:09 PM, bojeil-google <notifications@github.com>
wrote:

[2016-06-06 06:21] bojeil-google commented on #30
Glad to hear that the latest version is working for you, robohal.

[2016-06-07 19:59] paulb777 opened #36 "Syntax error building Swift tutorial"
Syntax error when first building Swift tutorial https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#2

<img width="1135" alt="screen shot 2016-06-07 at 12 53 22 pm" src="https://cloud.githubusercontent.com/assets/73870/15872667/6c4f7448-2caf-11e6-8cf7-4afb175c69f9.png">

[2016-06-07 20:09] iulukaya commented on #25
Updated the code to fix this problem

[2016-06-07 20:09] #25 closed

[2016-06-07 23:56] paulb777 opened #37 "Swift Tutorial - Internal Error when clicking Create Account"
On page 5 of the tutorial, https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#4, I get an Internal Error when clicking "Create Account".

Here is the tail of the log from the Xcode console:

<FIRAnalytics/DEBUG> Uploading data. Host: https://play.googleapis.com/log
2016-06-07 16:52:47.281 FriendlyChatSwift[90258:] <FIRAnalytics/DEBUG> Received SSL challenge for host. Host: https:/

[2016-06-07 23:58] paulb777 commented on #37
Also, it's not clear how to "print and inspect the error details". Turning on the -FIRAnalyticsDebugEnabled option added other logging, but nothing about the error that I could tell.

[2016-06-08 19:05] #34 closed

[2016-06-08 23:56] paulb777 commented on #37
Workaround seems to be entering an email address with an @ character and a non-zero length password. Then there will be a useful error message in the log or a successful login.

[2016-06-09 11:18] stevewitman opened #39 "Typo"
see ... https://codelabs.developers.google.com/codelabs/firebase-web/#10
Is there a missing ">" in this path?
Upload the file to Firebase Storage to the path: `/<uid>/<timestamp/<file_name>`

[2016-06-09 11:28] stevewitman opened #40 "Another typo"
see ... https://codelabs.developers.google.com/codelabs/firebase-web/#10
should this be
`gs://<bucket>/<uid>/<timestamp>/<file_name>`.
instead of
`gs://<bucket>/<uid>/<timestamp/<file_name>`.
here ...

[2016-06-09 13:42] nicolasgarnier commented on #39
Thanks! Yes there was a typo here. I've fixed it although we need to wait until the instructions gets deployed again.

[2016-06-09 13:42] #39 closed

[2016-06-09 13:42] nicolasgarnier commented on #40
Thanks! Yes there was a typo here. I've fixed it although we need to wait until the instructions gets deployed again.

[2016-06-09 13:42] #40 closed

[2016-06-09 13:43] #30 closed

[2016-06-09 14:35] iulukaya commented on #36
Looks like we fixed that in full app but not starter. Fixed it, thanks.
https://github.com/firebase/friendlychat/pull/41

[2016-06-09 14:35] #36 closed

[2016-06-09 23:23] paulb777 opened #42 "Swift Tutorial - Remote Config replacement code does not build"
The replacement code for FCViewController.swift at https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#9 does not build.

A workaround is to use the code from ios/swift/FriendlyChatSwift/FCViewController.swift

[2016-06-09 23:33] paulb777 opened #43 "Swift Tutorial - Sign out crashes"
Workaround is to replace the line

`performSegueWithIdentifier(Constants.Segues.FpToSignIn, sender: nil)`

with

`dismissViewControllerAnimated(true, completion: nil)`

in the signOut function in FCViewController.swift

[2016-06-10 16:08] paulb777 commented on #42
Related question at http://stackoverflow.com/questions/37737731/error-in-firebase-ios-codelab-swift

[2016-06-10 19:04] paulb777 commented on #43
The Objective C tutorial  [https://codelabs.developers.google.com/codelabs/firebase-ios-objc/#4](url) has the same problem
`[self performSegueWithIdentifier:SeguesFpToSignIn sender:nil];`
should be
`[self dismissViewControllerAnimated:YES completion:nil];`

[2016-06-11 00:16] conradwt opened #45 "Swift Tutorial - Unable to add message via console"
Test Message Sync section,  When I add a message from console, it doesn't update the application UI.  Also, it's not clear as to necessary steps for performing this action.

[2016-06-11 00:17] conradwt opened #46 "Swift Tutorial - Test Message Sync Not Working"
When I delete all the messages from console, it doesn't update the application UI by removing all the messages.

[2016-06-11 00:20] conradwt opened #47 "Swift Tutorial - Send Messages From Application Constrains Text Entry"
Using iOS Simulator, I'm limited 10 characters when I type and send a message from the application UI.

[2016-06-11 00:23] conradwt opened #48 "Swift Tutorial - Adding An Image Crashes Application"
When I try add an image on both iPhone/Simulator, the application crashes with the following message:

'NSInternalInconsistencyException', reason: 'Invalid update: invalid number of rows in section 0.  The number of rows contained in an existing section after the update (1) must be equal to the number of rows contained in that section before the update (4), plus or minus the number of rows inserte

[2016-06-11 00:31] conradwt opened #49 "Web Tutorial - Missing Instructions"
After typing `firebase use --add` at the end of step 5, what should one type because it's not clear from the provided documentation.

[2016-06-12 18:50] itamaro opened #50 "Web Tutorial - Typo in step 12"
In step 12 (Storage Security Rules), the last section header is "Deploy Database Security Rules", while it should be "Deploy ***Storage*** Security Rules"

[2016-06-14 03:49] imsabin opened #51 "photourl is get nullpointerexception"
getphotourl is getting nullpointerexception in android.

[2016-06-15 01:47] ryanbilak commented on #49
After that command you select your firebase project that you created in the online console and give it an alias

[2016-06-15 03:22] imsabin opened #52 "sign in not working in real device after downloading from playstore"
implemented this sample code, it works in test device, however google sign in stucks in real device downloaded from playstore. is there any changes to be made for final app. implemented as per tutorial given though.

[2016-06-15 09:20] nicolasgarnier commented on #49
`firebase use --add` should bring you in an interactive mode that lets you select a Firebase project. You'll just have to choose the project you created earlier. Let me know if that is not the case.

[2016-06-15 09:20] #49 closed

[2016-06-16 21:03] iulukaya commented on #47
You can update the setting from your Firebase console using remote config.
More information is on the codelab itself.
https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#9

[2016-06-16 21:03] #47 closed

[2016-06-17 05:23] Jillee commented on #50
In step 12 I had service

firebase.storage {
  match /b/<MYPROJECT_ID>.appspot.com/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
And my localhost5000 chat worked.......

Then I replaced it with  service
firebase.storage {
  match /b/<MYPROJECT_ID>.appspot.com/o {
    match /{userId}/{timestamp}/{fileName} {
      allow write: if request.auth.uid == us

[2016-06-17 05:25] Jillee commented on #50
I had the same project number each time i just anonymised the first two instances for this forum and the
it was

match /b/project-5224474240715792645.appspot.com/o { every time

[2016-06-18 18:17] bobzhang opened #53 "could not import json"
could not find import button

[2016-06-18 18:18] bobzhang commented on #53
![screen shot 2016-06-18 at 2 17 27 pm](https://cloud.githubusercontent.com/assets/747051/16172865/7912a14c-355f-11e6-8d61-258e65146c9c.png)

[2016-06-18 18:24] kroikie commented on #53
It is in the overflow menu on the right of your screen, the three vertical dots.

[2016-06-20 06:03] holazollil commented on #27
I have same problem. I can't see the picture of  "Sign in with google". How did you solve it?

[2016-06-21 04:45] jeffrauch commented on #48
+1

[2016-06-21 18:59] abhayworld123 commented on #27
Hi , holazollil  Its now working , there was some issue in google auth and storage bucket .

[2016-06-29 18:22] hangal2001 opened #54 "web issue: adding/sending an image not working. not storing any image in my Firebase Storage"

[2016-06-29 21:29] nicolasgarnier commented on #54
@hangal2001 Could you tell us:
- Is this for the Web, Android or iOS codelab?
- At which step of the codelab you are trying this?
- Have you tried the finished code in /android, /ios or /web ?
- Any error messages in the console?

[2016-06-30 16:07] hangal2001 commented on #54
this issue was for the Web. today, Image message worked nicely. Sorry for inconvenience. Issue were with me. Closing this issue.

[2016-06-30 16:07] #54 closed

[2016-07-02 09:41] y-hakutaku opened #56 "[self performSegueWithIdentifier:SeguesFpToSignIn sender:nil] does not work"
this paragraph is wrong or not updated.
https://codelabs.developers.google.com/codelabs/firebase-ios-objc/index.html?index=..%2F..%2Findex#4

FCViewController.m

[code]

**[self performSegueWithIdentifier:SeguesFpToSignIn sender:nil];**
↓
[self dismissViewControllerAnimated:YES completion:NULL];

[2016-07-03 10:27] stevealbertwong opened #57 "Android Starter kit bug report"
When I try to run the Android Starter App when syncing project with gradle files following this https://codelabs.developers.google.com/codelabs/firebase-android/#3

I have tons of warning like
Failed to resolve: com.google.firebase:firebase-core:9.0.0 etc.

this post resolved the bug
https://stackoverflow.com/questions/37310188/failed-to-resolve-com-google-firebasefirebase-core9-0-0#

[2016-07-03 10:27] #57 closed

[2016-07-05 11:49] #53 closed

[2016-07-05 11:52] nicolasgarnier commented on #50
Thx! Fixed it, we'll need to wait for the text to re-deploy to see the fix.

[2016-07-05 11:52] #50 closed

[2016-07-05 11:57] nicolasgarnier commented on #27
We have an issue where Google accounts that have not enabled Google+ would not get a Profile pic and/or full name. This is a bug with Firebase. It should get fixed at our next release (3.2.0). Sorry about this. If this keeps happening after 3.2.0 gets release please feel free to re-open the bug.

[2016-07-05 11:57] #27 closed

[2016-07-05 11:58] #10 closed

[2016-07-06 14:49] #43 closed

[2016-07-06 14:53] iulukaya commented on #42
Looks like updates to the codelab doc weren't published. They are getting published now, so it will be in sync with the code.

[2016-07-06 14:53] #42 closed

[2016-07-12 00:41] two9seven opened #58 "5. Install the Firebase Command Line Interface"
Step five of the tutorial is somewhat misleading. Even-though the instructions only state to install the CLI, the hosting walk through led me to deploy, which messed up the next steps in the tutorial for deploying the web-start app. I would just clarify what the purpose is of the CLI and not to deploy right away.

D

[2016-07-12 02:04] Lorenzoygata commented on #58
ss

[2016-07-12 23:03] ziosmobile opened #59 "#func sendMessage(data: [String: String]) { - a value is returning nil"
`func sendMessage(data: [String: String]) {
    var mdata = data
    mdata[Constants.MessageFields.name] = AppState.sharedInstance.displayName'

'AppState.sharedInstance.displayName' is returning 'nil' and App is craching. no error handle.

Please change it with '**FIRAuth.auth()?.currentUser?.displayName**'

[2016-07-13 12:59] ziosmobile opened #60 "# if upload_protocol=resumable, ResponseErrorCode=-1200"
Go --> Firebase Console ---> Storaga --> RULES

allow read, write: if request.auth != null;

change it to:

allow read, write: if request.auth != true;

[2016-07-17 13:31] mrkiffie opened #61 "Buggy/intermittent scrolling on the x-axis of code samples on Chrome on Android"
Browser: Chrome
Browser version: 50.0.2661.89
Operating system: Android
Operating system version: 5.0.2
Device: Samsung SM-A5000F

What steps will reproduce the problem:
1. View step ["7. User Sign-in"](https://codelabs.developers.google.com/codelabs/firebase-web/#6) on Chrome on Android.
2. Scroll down to the code sample so that it is in the upper half of the screen (see figure 1).
3. Attempt to

[2016-07-17 14:05] mrkiffie commented on #61
Whoops - Sorry wrong repo :blush: - I've had too much coffee today.

Could someone point me in the correct direction as to where to log this issue? That would be very appreciated. Thanks. 😃

Great tutorial BTW!

[2016-07-17 14:05] #61 closed

[2016-07-17 14:23] nicolasgarnier commented on #61
Hey @mrkiffie you can post a bug repport here: https://github.com/googlecodelabs/feedback whichbis actively followed by the team who wrote our codelab tool/website
Cheers!

[2016-07-18 14:21] nicolasgarnier commented on #60
Hey @ziosmobile could you explain what this changes in rules would do? `request.auth` should either be `null`or some objet with the auth details of the user but it's never `true`.

[2016-07-18 14:34] ziosmobile commented on #60
Dear Nicolas:

func sendMessage(data: [String: String]) {
var mdata = data
mdata[Constants.MessageFields.name] = AppState.sharedInstance.displayName'

Now AppState.sharedInstance = nil ( user not signed yet)

if web use  'FIRAuth.auth()?.currentUser?.displayName'  ( here is true user
already sign-in )

Ali

2016-07-18 17:21 GMT+03:00 Nicolas Garnier <notifications@github.com>:

--
*    Ali ZORLU*

[2016-07-18 15:22] nicolasgarnier commented on #48
@iulukaya Could you have a look at the ios issues (or re-assign) when you have a chance?

[2016-07-25 02:00] santoshdheeraj opened #62 "PhotoUploader not working"
When tried to test photo upload for the web chat application on web, the photo being uploading is struck in loading position for ever. There's no update if it is uploaded or any error in uploader. All it does is spinning the loading icon

[2016-07-25 12:09] nicolasgarnier commented on #62
@santoshdheeraj could you upload your web app so I could see what's wrong? (just run `firebase deploy`)?

[2016-07-26 08:20] mayassalman opened #63 "deploying behind proxy???"
Hello'
I can't deploy the sample while runninthg proxy ,is there any suggestion about??

[2016-07-26 19:46] oniikal3 opened #64 "[Swift] Not have any messages show in tableview"
I'm doing step by step as tutorial. but my project didn't show any messages. I already import json.
Create user and login work fine. but messages didn't show.

[2016-07-26 20:11] oniikal3 commented on #64
Sorry my fault. I added "Foo" key in "Rules" tap. so This's issue fixed.

[2016-07-26 20:11] #64 closed

[2016-08-04 03:11] alien35 opened #65 "Large amounts of messages will start to overlap on each other in Safari"
If you write, say, 20 messages in the box they'll start to overlap on each other (only in Safari, other browsers are fine). The reason is the class 'message container' doesn't want to properly wrap around the content, hence eventually creating the mess.

[2016-08-09 13:13] truetothemark opened #68 "My app doesn't work on a server"
I have created a chat-app with your tutorial. It works just fine on a local host, but it doesn't work after deployment. The app - https://my-chat-26e48.firebaseapp.com/

[2016-08-09 13:45] nicolasgarnier commented on #68
It doesn't seem anything was deployed. Could you paste the output from the `firebase deploy` command?

[2016-08-09 14:11] truetothemark commented on #68
I've tried to resolve the situation myself and something went wrong )) Yet, I've made a new project and used the code from the "web" folder - it works just fine. So it's my mistake, I'll try to figure out what I did wrong. Thanks for answering in such a short notice.

[2016-08-09 14:17] nicolasgarnier commented on #68
I'm glad to hear this. Cheers!

[2016-08-09 14:17] #68 closed

[2016-08-09 14:59] nicolasgarnier commented on #62
I'll close because no response but if you still need help feel free to comment.

[2016-08-09 14:59] #62 closed

[2016-08-11 23:14] el-samiyel opened #69 "Friendly chat developer tutorial section 6"
Hi,
Regarding "https://codelabs.developers.google.com/codelabs/firebase-android/#5"
When I reach stage 6 - "Then add a new case to onOptionsItemSelected() to handle the sign out button:"

`@Override
    public boolean onOptionsItemSelected(MenuItem item) {
        switch (item.getItemId()) {
            case R.id.sign_out_menu:
                mFirebaseAuth.signOut();
                Auth.GoogleSi

[2016-08-14 15:13] BW0ng opened #70 "Not Displaying Messages After Adding a Listener"
After importing the messages with the provided JSON file and adding the listeners to the code, the app was not syncing with the Firebase database. This was under Firebase:Build a Real Time Web Chat App for the web under part 8 of the tutorial.

[2016-08-14 16:12] #70 closed

[2016-08-15 16:02] necrobala opened #71 "Property name case mismatch in web app section 11"
The case of 'photoURL' property is incorrect in the example code.
https://github.com/firebase/friendlychat/blob/master/web/scripts/main.js#L141.js

This results in profile placeholder image to be shown instead of the user's profile pic

[2016-08-15 16:08] nicolasgarnier commented on #71
It seems to actually be correct. Perhaps your user's account simply does not have a profile Pic setup?

[2016-08-15 19:36] iulukaya commented on #48
Fixed this one.

[2016-08-15 19:36] #48 closed

[2016-08-15 19:38] iulukaya commented on #37
Yes, @ is needed for emails. This is being checked and fixed at Firebase side, not a sample issue.

[2016-08-15 19:38] #37 closed

[2016-08-15 20:33] iulukaya commented on #56
fixed.

[2016-08-15 20:33] #56 closed

[2016-08-16 15:01] nicolasgarnier commented on #63
Hey @mayassalman It seems this is a known issue with the Firebase CLI. Please follow this issue: https://github.com/firebase/firebase-tools/issues/155

Sorry about that!

[2016-08-16 15:01] #63 closed

[2016-08-16 15:12] timothychen01 opened #72 "firebase serve not working after initializing firebase project"
Here's the error I get when I open up `localhost:5000`:

<img width="878" alt="screen shot 2016-08-16 at 11 11 49 am" src="https://cloud.githubusercontent.com/assets/14797288/17704204/52a27e58-63a2-11e6-8c2e-d6e471051218.png">

[2016-08-18 06:10] DanielSank opened #74 "Web tutorial step 9, firebase deploy can fail with authorization error"
On step 9 of the web tutorial [1], after creating `database-rules.json` and modifying `firebase.json`, I try to deploy, and get the following error:

[code]

From an SO post about a similar issue [2], I tried `firebase use --add`, even though I had done this about a day ago when I first started the tutorial. This solved the problem. Therefore I recommend mentioning, at some point, that `firebase u

[2016-08-18 06:59] DanielSank opened #75 "Web tutorial step 10 type error"
I complete the code changes from step 10 of the web tutorial [1]. I copy/pasted the code from the web tutorial, and then diffed `web-start/main.js` against `web/main.js` to make sure I haven't typed anything wrong. I run the server and try to send a message. When I click the send button, nothing happens, but the browser console logs the following message:

`main.js:77 Uncaught TypeError: Cannot re

[2016-08-18 07:19] nicolasgarnier commented on #75
Hey @DanielSank I your case `this.messagesRef` seems to be undefined. In theory it should be set by the `loadMessages` function from step 8:

[code]

`loadMessages` should be called when the user signs in:

[code]

Could you check everything is in place? Is our user signed-in?

Thanks!

[2016-08-18 07:24] nicolasgarnier commented on #74
Hey @DanielSank

Thanks for the report. It may be a bug in the Firebase CLI since `firebase use --add` should not need to be re-invoked.

Can you confirmed you had already ran `firebase use --add` earlier on step 5 ? Is your project ID just `friendlychat` ?

We'll have a look into it!

[2016-08-18 07:31] DanielSank commented on #75
Oh brother. I somehow completely skipped step 8, and while I grepped `messagesRef` in my development file, I never did it in `web/secipts/main.js` so I didn't understand where `messagesRef` was supposed to come from.

Works now. Sorry to waste your time.

[2016-08-18 07:31] #75 closed

[2016-08-18 07:34] DanielSank commented on #74
I'm *pretty sure* I ran `firebase use --add` yesterday when I started setting all this stuff up. When I did it today and got the prompt about project alias I'm 100% sure I remember seeing that before, particularly because I have written notes about what alias I chose ;)

I'm not sure how to find the project ID, but "FriendlyChat" is what I see in the firebase console near the top right in the drop

[2016-08-18 11:59] nicolasgarnier commented on #74
You can find the ID of your project in the URL of the Firebase console:

firebase.corp.google.com/project/**&lt;project_id&gt;**/overview

I just want to make sure the Firebase Cli had the correct ID to begin with :)

[2016-08-18 12:00] nicolasgarnier commented on #75
No worries! I'm glad you figured it out :)

[2016-08-18 17:28] DanielSank commented on #74
Here's the URL of the console page

`.../project/friendlychat-4600e/database/data`

I guess the ID is `friendlychat-4600e`. Note, by the way, that I'm doing this on a Google corp account.

[2016-08-18 18:19] nicolasgarnier commented on #74
Thanks so what's weird is that when yo had the CLI error the CLIE thought your app ID was simply `friendlychat` from the error line below:

[code]

[2016-08-18 18:20] nicolasgarnier commented on #74
@mbleigh Have you heard of similar issues in the CLI?

[2016-08-18 19:08] nicolasgarnier commented on #71
I'll close but feel free to re-open if you still have issues.

[2016-08-18 19:08] #71 closed

[2016-08-22 11:23] mhmoodlan opened #76 "After typing firebase use --add at the end of step 5, i'm getting ETIMEDOUT error, any help ?!"
the error is like this : Error: Server Error. connect ETIMEDOUT 104.197.85.31:443

[2016-08-22 11:25] mhmoodlan commented on #76
the error is like this : Error: Server Error. connect ETIMEDOUT 104.197.85.31:443

[2016-08-22 11:40] #76 closed

[2016-08-23 08:02] ghost opened #78 "Can't open the project."
I can't seem to open the project. Why is that?
I am using Android studio 2.1.3 with gradle version of 2.1.3

[2016-08-23 14:51] samtstern commented on #78
@geraldjaydlagarto we will need more information to help you.  What exactly is going wrong?  What steps did you take?

[2016-08-24 15:47] JeffreyCheng92 opened #79 "Database wont sync after importing (web)"
After importing the `initial_messages.json` through the firebase console in the browser and adding the relevant code to `main.js` below:
[code]

the `setMessage` function is never called which means that the sample application is most likely not connected to the database online.

[code]

I've initialized firebase in the bottom of my `index.html` within a `<script>` and in the database tab of my co

[2016-08-24 16:49] nicolasgarnier commented on #79
Hey @JeffreyCheng92,

Could you check your browser's Javascript console for any errors? Also could you upload your code online (using `firebase deploy`) and give us the URL?

Thanks!

[2016-08-24 16:53] JeffreyCheng92 commented on #79
@nicolasgarnier I figured it out. There were no errors but it had to do with the `database.rules.json`. Basically, it wasn't throwing an error when I tried to connect to the `/messages` even if there wasn't any permissions for it. Maybe it can be added to the tutorial? Now my `database.rules.json` looks like (copied from the completed web project):

[code]

[2016-08-24 16:53] #79 closed

[2016-08-24 17:15] JeffreyCheng92 commented on #79
Upon further reading, it was actually step 9 where the `database.rules.json` is edited. Maybe step 9 and 8 can be swapped?

[2016-08-24 17:32] nicolasgarnier commented on #79
It's very strange because by default, on new projects, the Database rules are:

[code]

Which should work for the code. Step 9 is actually an optional step for that reason (the app would still work the same if you skipped it). For example could you try to revert the rules to the rules above? Things should still work.

[2016-08-24 20:30] JeffreyCheng92 commented on #79
Okay I see the issue here now. It wasn't the tutorials fault at all but when I went to import the `initial_messages.json` it said the rules had to be changed before the database could be used.

![image](https://cloud.githubusercontent.com/assets/12540391/17946711/52ff3f0a-69fe-11e6-931e-fc11ce8a6f00.png)

which led me to copy this in my `database.rules.json` as well as in the online rules.

![imag

[2016-08-26 02:20] brenoos opened #80 "Keyboard disapear on andoird"
On the computer it's all ok, but when I type a letter on the android keyboard, the keyboard disappear.

[2016-08-26 13:49] #80 closed

[2016-08-29 15:42] abdshomad opened #81 "firebase-web step#6 failed: my domain : "localhost" is not authorized for OAuth operations"
Hi,

I am following the tutorial here for firebase-web untill step#6: https://codelabs.developers.google.com/codelabs/firebase-web/#6

I am using "firebase serve" and opening localhost:5000 from my browser.

However, firebase reported that my domain : "localhost" is not authorized for OAuth operations.

These are the error messages:

Here's the screenshot of the error:

![friendlychat-step-6-error

[2016-08-29 20:55] nicolasgarnier commented on #81
It's strange because localhost should always be whitelisted by default. I'm guessing something bad happened when your Firebase app was created. Could yo simply re-create a Firebase app and change the `config` to your new app's?

[2016-08-29 20:57] nicolasgarnier commented on #72
Hey @timothychen01 Maybe do a Shift+Reload to force refreshing the page? It does not seem that you are serving the content of the codelab. I'm not sure where this page comes from actually :)

[2016-08-29 20:58] nicolasgarnier commented on #65
Thanks! I'll look into it.

[2016-08-30 05:54] abdshomad commented on #81
I try to re-create a NEWLY FRESH Firebase app and now, it worked! Thanks.

A note:
It seems like the configuration setting for the previously used Firebase app is causing this.
I was using the old Firebase app for learning anything related to PWA, Polymer and Firebase.

Now, I am continuing the next steps.

[2016-08-30 05:56] #81 closed

[2016-08-30 06:16] nicolasgarnier commented on #81
Great! I'm glad this worked :)

[2016-08-30 08:54] dylanver2 opened #82 "Chat Application - Sign In Problem in Real Device"
My app is working with the emulator but not in real device. I installed the signed APK and at the login screen i am stucked with the sign in button. Select an account and nothing happens.

I tried to connect my device via USB tested and it worked. App is currently working on my phone just because I connected it to USB and run it for debugging. Does this mean there's something wrong with my APK?

[2016-08-31 23:25] noladbachelor opened #83 "paranormal"
ajimat

[2016-09-01 02:55] #83 closed

[2016-09-05 21:46] CreaRo commented on #11
I completely forgot to close this! Yes, it worked, thanks a lot @slotbite, @niiapa :+1:

[2016-09-05 21:46] #11 closed

[2016-09-07 12:37] terrancelaw93 opened #84 "Cant run the project."
After i run the projects, it will show this comment. How to solve this problem?

Error:Execution failed for task ':app:processDebugGoogleServices'.

   Searched Location:
  C:\Users\user\Desktop\friendlychat-master\android\app\src\debug\google-services.json
  C:\Users\user\Desktop\friendlychat-master\android\app\google-services.json

[2016-09-07 12:41] kroikie commented on #84
The error is indicating that you are missing the required google-services.json file. When you create a Firebase project and add your Android app to it you will be able to download the corresponding google-services.json file. You should place it in your app directory then try to build the project again.

See the [Android Setup](https://firebase.google.com/docs/android/setup)

[2016-09-07 12:41] #84 closed

[2016-09-07 12:53] kroikie commented on #82
Could you double check that the SHA1 for the keystores you are using for signing are all added to the Firebase console?

It could be that when connected via USB or running on the emulator you are using the debug keystore for signing which you have added to the Firebase console and thus the app is working. If you are signing with another keystore when you are generating the "signed APK" it will not

[2016-09-07 12:55] kroikie commented on #72
Is this still an issue @timothychen01 ?

[2016-09-11 03:03] haivp3010 opened #85 "Sign out problem - Android"
When signing out, it is still possible to press back to go back to the message screen. Is this the correct way the app works? Or should we put a finish() when pressing the sign out option menu?

[2016-09-11 05:38] CreaRo commented on #82
@dylanver2  Have a look [here](https://github.com/firebase/friendlychat/issues/11). I spent hours on this before I could get it to work.

[2016-09-11 20:26] karol-202 commented on #11
I have got the same issue: Google Sign In failed. I've tried setting SHA1 from signingReport in Firebase Console and updating google.services.json file but app still doesn't work.

[2016-09-12 04:00] wadjay3 opened #86 "StorageBucket attribute is always empty when adding firebase to webApp"
Hello, I am following the steps given on page (using google chrome)
https://codelabs.developers.google.com/codelabs/firebase-web/#3

It says: You've hit a bug. Sorry about that! Close and re-open this dialog and your storageBucket should now be populated.
I have tried this many a times, but doesn't populate the atrribute. The result is I am not able to work with images.
When I browse the project i

[2016-09-12 04:58] CreaRo commented on #11
Are you getting 12501 as the error code? If yes, and you've made sure the SHA1 keys, package names match, then that's odd. Could you double check everything's alright? If you haven't already, [this](http://bhardwajrish.blogspot.in/2016/09/firebase-auth-debug-vs-release.html) blogpost might help.

[2016-09-12 20:46] karol-202 commented on #11
The blogpost you've written helped me a lot. I've generated new keystore and now it works! Thank you.

[2016-09-14 20:13] mcdonamp commented on #86
Would you mind filing an issue on our [support queue](https://firebase.google.com/support/contact/troubleshooting/)? This sounds like you're falling into an edge case of Storage and we'd like to offer some more personal support.

[2016-09-14 20:37] #86 closed

[2016-09-19 19:49] srinathh commented on #30
For me, "block third party cookies" caused an error at this step. Will this cause an issue in the production app since the third party cookie will not be served from the same server that the web page is served in?

Perhaps the tutorial documentation should  mention this?

[2016-09-21 10:53] lclghst opened #89 "Step 5 Spelling Mistake"
Spelling mistake above. The bolded **you** should be removed. This is on the [codelabs](https://codelabs.developers.google.com/codelabs/firebase-web/#4) docs.

[2016-09-21 12:20] nicolasgarnier commented on #89
Thanks @lclghst ! I fixed it. Now waiting for the codelab text to be re-deployed.

Cheers!

[2016-09-21 12:20] #89 closed

[2016-09-22 09:33] SergeantPeanuts commented on #65
This issue is still not solved. Any ideas how to perfectly wrap around the content so that messages don't begin to over lap?

[2016-09-22 14:55] #65 closed

[2016-09-22 14:56] nicolasgarnier commented on #65
Now Fixed! Sorry for the delay!

[2016-09-22 19:54] javiexpo commented on #32
I have an error with the same Exception but with another detail, its said:
`com.google.firebase.FirebaseApiNotAvailableException: Error resolution was canceled by the user`

But, I am running my Firebase Android App in the Emulator, could be this the problem?, I mean because I am using the emulator instead of a device?

[2016-09-24 09:07] jouanvela opened #91 "Web tutorial #7"
**the profile pic and name of the user not display, since**

in `FriendlyChat.prototype.onAuthStateChanged = function(user) {}`

 `userName` is already used by
`function FriendlyChat() {
   this.userName = document.getElementById('user-name');
}`

[code]

[2016-09-25 02:55] bruce366 opened #92 "firebase use --add issue"
Running this in Win 10 Powershell

firebase login .. ok

firebase use --add
? Which project do you want to add? (use arrow keys)

There is no project to select, arrow keys don't work, nothing works.

What is happening please?

[2016-09-28 18:04] abehaskins commented on #92
This isn't an issue specific to this repo, try asking on StackOverflow!

[2016-09-28 18:04] #92 closed

[2016-09-29 21:42] jburgoyn commented on #11
I am confused about how the completed chat sample code works just fine without having to do any of the above? I downloaded the completed sample code, could run on both device and emulator and be able to log in with google just fine. And obviously the sha1 in the firebase project wouldn't match my computers sha1, so how does that work when it doesn't work when I follow these steps implementing into

[2016-09-29 23:49] devm33 opened #95 "Snackbar not working in web-start"
Looks like the snackbar is silently failing on web-start, I'm not seeing it

[2016-10-08 17:51] momander opened #97 "Web: Users not experienced with the terminal get confused about prompt"
I was recently a troubleshooting assistant at a session using this codelab. Several users who were not experienced in using a terminal window ended up pasting the entire terminal strings in:

`$~> npm -g install firebase-tools`

They pasted in the "$~>" as well as the command, which means it didn't work. I propose removing the "$~>" terminal prompts from the codelab doc, so users won't have to app

[2016-10-08 17:55] momander opened #98 "Web: At end of step 5, tell users which directory to configure"
At the end of step 5, the doc tells the user to run

`$~> firebase use --add`

and then to "select your Project ID and follow the instructions". The tool will ask

`What alias do you want to use for this project? (e.g. staging)`

which confuses some users, as they don't know what to enter and there is no guidance in the doc. I propose including an instruction telling users to enter "." (current di

[2016-10-08 18:36] ram-nb opened #99 "loadImage needed storage folder initialised first"
Line 159 was throwing error as it requires the storage tab is initialised first - out of band :-)

[2016-10-14 10:15] ritesh124 opened #100 "Build the starter iOS app in Objective C it Says "Module 'Firebase' not found""
i do not want to install cocoa pods, How do i add "Firebase" module without installing Pod File.

Error:
Parse Issue
Module 'Firebase' not found
MeasurementHelper.m

Thanks

[2016-10-18 05:14] katogo opened #101 "Issue with image upload"
i copied and pasted all the storage rules for the image upload but the image upload gets stuck on loading part

[2016-10-18 05:16] katogo commented on #58
which kind of OS are you using coz if ur using windows neglect the $ and the (- )sign

[2016-10-18 08:50] nicolasgarnier commented on #101
hey @katogo Is ther anything int he Javascript console logs?

[2016-10-18 08:59] katogo commented on #101
The console is saying
Uncaught (in promise)  ReferenceError: file is not defined (...)

On Oct 18, 2016 11:50 AM, "Nicolas Garnier" <notifications@github.com>
wrote:

[2016-10-18 10:40] nicolasgarnier commented on #101
I'm guessing that maybe you forgot to copy paste some part of the Codelab or skipped some instructions. Can you check? Also what step are you stuck at?

[2016-10-18 11:59] katogo commented on #101
I am not stuck like any where else but there will check

On Oct 18, 2016 1:40 PM, "Nicolas Garnier" <notifications@github.com> wrote:

I'm guessing that maybe you forgot to copy paste some part of the Codelab
or skipped some instructions. Can you check? Also what step are you stuck
at?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://gi

[2016-10-18 12:16] nicolasgarnier commented on #101
Then could you deploy your code (using `firebase deploy`) so I could check whet's wrong?

[2016-10-18 14:08] katogo commented on #101
I actually deployed it under websample-14cf1.firebase.com
On Oct 18, 2016 3:16 PM, "Nicolas Garnier" <notifications@github.com> wrote:

whet's wrong?

<https://github.com/firebase/friendlychat/issues/101#issuecomment-254489721>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AU_NeT5i4OyfWil8mgW3c79ATsPTe-Edks5q1LiGgaJpZM4KZYmR>
.

On Oct 18, 2016 3:16 PM, "Nicolas Garnier" <

[2016-10-18 14:25] nicolasgarnier commented on #101
It seems you removed this part by mistake: https://github.com/firebase/friendlychat/blob/master/web/scripts/main.js#L118-L131

[2016-10-18 14:25] #101 closed

[2016-10-18 21:21] nicolasgarnier commented on #91
hey @jouanvela `userName` and `this.userName` are different variables and do not collide. probably the issue comes somewhere else? Let me know if you still need help.

[2016-10-20 04:57] Bumler opened #102 "Android Tutorial - Step 6"
My application keeps crashing after finishing the steps in step 6. I believe I have followed the instructions exactly and continue to get the error
E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.google.firebase.codelab.friendlychat, PID: 9522
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{com.google.firebase.codelab.friendlychat/com.goo

[2016-10-20 06:11] Divala commented on #102
I think you should update your Google play services in SDK Manager and also
update firebase auth to 9.4.0 (latest version )
On 20 Oct 2016 6:57 a.m., "Henry Bulmer" <notifications@github.com> wrote:

[2016-10-20 13:13] wieblinger1 opened #103 "Sign In Button is not displayed"
I'm in step 8 and the three sample messages and the sign in button don't show up. I can only see the same as the picture in step 6. I'm in the tutorial: https://codelabs.developers.google.com/codelabs/firebase-web

[2016-10-21 09:39] EasonKao commented on #103
Same issue, please help.

[2016-10-21 10:53] nicolasgarnier commented on #103
Hey both of you. Could you check the Javascript console and see if there are any errors displayed there? Also could you depoy your code online (using `firebase deploy`) and give me the URL?

[2016-10-21 14:28] EasonKao commented on #103
I found the solution in the web folder, just need to add a source script "main.js" in index page as below:
`<script src="https://www.gstatic.com/firebasejs/3.5.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "xxx",
    authDomain: "xxx",
    databaseURL: "xxx",
    storageBucket: "xxx",
    messagingSenderId: "xxx"
  };
  firebase.initializeApp(config);
</sc

[2016-10-21 17:12] itsclarke opened #104 "Image Submit doesn't work on first attempt"
I've just completed the tutorial and noticed that nothing happens the first time I submit an image. However, once a "?#" is appended to the url and I attempt to submit an image a second time, it comes through fine (the second image appears, the first one seems to be lost/never makes it to the database).

https://chat-app-c3ea7.firebaseapp.com/

[2016-10-24 20:13] carlosjs23 commented on #78
I'm also having this problem. The project never finish to build gradle.

![error-img](https://i.gyazo.com/fcd4958a7365b43c7387a7216c60e721.png)

Android Studio version: 2.2.2

Thanks you.

[2016-10-24 23:04] Bumler commented on #102
Thanks! I made sure my play services were up to date and redownloaded my google config files and it seems to be working now.

[2016-10-24 23:04] #102 closed

[2016-10-27 15:15] cappittall opened #105 "Deploy error"
At your page :
https://codelabs.developers.google.com/codelabs/firebase-web/#8    and,
https://codelabs.developers.google.com/codelabs/firebase-web/#11  and
https://codelabs.developers.google.com/codelabs/firebase-web/#12

At firebase.json file description says ;  "storage.rules"
This is giving " Error: unexpected error has occurred message at firebase deploy"
I think correct way must be "storage-

[2016-10-27 15:30] nicolasgarnier commented on #105
Hey @cappittall,

It's really `storage.rules`, that's how I prefer to call that file because it's not JSON. See:

https://github.com/firebase/friendlychat/blob/master/web/storage.rules

The error might come from something else. Have you checked the deploy.log file after the error happens?

[2016-10-27 15:30] #103 closed

[2016-10-28 06:57] cappittall commented on #105
Sorry, you are right. I did mistake.

[2016-10-28 07:33] cappittall commented on #105
But its not working proper at IE11 or Microsoft Edge

[2016-10-28 15:43] nicolasgarnier commented on #105
Can you tell me what's not working on IE ? IF it's a CSS/UI bug can you copy paste a screenshot?

[2016-10-28 15:46] nicolasgarnier commented on #104
Hey @itsclarke I wanted to test now, sorry for the delay but it seems the app is now not working (looks like you were working on adding notifications in there). Let me know once you have a working app again and I'll be happy to have a look.

[2016-11-10 07:19] bmkarthik610 opened #110 "sign"
it is not sign to gmail

[2016-11-17 18:46] svaldi commented on #104
Seems the issue is not in FF but it is still appearing on Chrome.

Hello @nicolasgarnier
To reproduce:
1. Go to: https://chat-app-c3ea7.firebaseapp.com/ **(Ingnore missing styles)**
2. Click on the Image button on the right side of the page.
3. See the URL ("?#" will be added)

Test on FF and Chrome.

[2016-11-22 22:57] prexer opened #111 "FriendlyChat Android codelab #6 Authentication never works"
I've followed the steps to get the Friendly Chat app up and running on Studio. So far so good. As soon as I get to step 6, I get a 12501 result from authenticating.  I've tried created a few different android simulator targets, tried going into debug mode (thus how I found the return code on Auth).

Seems like I need some additional SHA1 debug keystore setup, but there's no steps in the tutorial t

[2016-11-23 00:00] prexer commented on #111
Same problem as https://github.com/firebase/friendlychat/issues/11.   solution there to add another sha1 to my firebase console in settings >> add fingerprint >> viola it worked!! unblocked after many hours of frustration

[2016-11-23 00:00] #111 closed

[2016-11-23 22:54] jackdh opened #112 "Grammar Error 10. Receive Reengagement Notifications"
https://codelabs.developers.google.com/codelabs/firebase-android/#9

As is

Should be

[2016-11-26 14:22] prexer opened #113 "android tutorial #9 indexing missing lots"
MESSAGE_URL isn't previously defined
none of the imports for Indexable, PersonBuilder, etc, were there in the example already
FriendlyMessage.getID/setID methods don't exist on FriendlyMessage at level 10.0.0

Did this lesson get tested?  Seems like something is out of sync with the library versions that are published

[2016-11-26 18:22] happyjohnnylin opened #114 "Android Tutorial 9 has lack of several things"
1. In MainActivity.java,
it lacks several import of firebase.appindexing,
such as:
com.google.firebase.appindexing.Action;
com.google.firebase.appindexing.FirebaseUserActions;
com.google.firebase.appindexing.Indexable;
com.google.firebase.appindexing.builders.Actions;
com.google.firebase.appindexing.FirebaseAppIndex;
com.google.firebase.appindexing.builders.Indexables;
com.google.firebase.appindex

[2016-11-30 08:47] anks62 opened #116 "ios Failed to fetch default token Error Domain"
Hi,
I used developer certificate and developer provisioning profile. friendlychat also work fine in simulator but when I run project in iPad with same login credential, node which i used in simulator means same project i run in iPad I can not get any data in iPad.
These all things are perfect working in simulator. I used Two simulators iPhone 5s and iPhone 6s Plus for testing.

I send message iPho

[2016-12-02 12:54] dhananjayWaghela opened #117 "Notification"
We have integrated push notification functionality in application but we are unable to get notification.
So plzz help me

[2016-12-03 10:03] #117 closed

[2016-12-03 10:04] dhananjayWaghela commented on #117
We have integrated push notification functionality in application but we are unable to get notification.
So plzz help me

[2016-12-03 10:05] dhananjayWaghela opened #118 "notification"
We have integrated push notification functionality in application but we are unable to get notification.
So plzz help me

[2016-12-07 22:44] samtstern opened #119 "FriendlyMessage does not have getId/setId"
In this step (and others) the getter/setter for ID on `FriendlyMessage` are referenced:
https://codelabs.developers.google.com/codelabs/firebase-android/#8

But nowhere in the codelab does it have the developer add them, and the android-start code does not contain those methods or that field.

[2016-12-07 22:51] samtstern opened #120 "MESSAGE_URL undefined"
Looks like in this commit:
https://github.com/firebase/friendlychat/commit/7fc5cae5cfe2c6205398eef14abd7b622c6967ce

We added `MESSAGE_URL` to the final MainActivity but it's not in the starter one and I don't see anywhere in the codelab when we should add it.  I'd expect it to be in https://codelabs.developers.google.com/codelabs/firebase-android/#8

[2016-12-08 00:12] zayna-shahzad commented on #120
Fixed in https://github.com/firebase/friendlychat/pull/115, but need it to be reviewed and merged. Mind taking a look @samtstern So i can get that in? :)

[2016-12-08 00:13] #113 closed

[2016-12-08 00:13] #114 closed

[2016-12-08 00:15] zayna-shahzad commented on #120
Merged :) Closing this.

[2016-12-08 00:15] #120 closed

[2016-12-08 00:16] zayna-shahzad commented on #119
Fixed with https://github.com/firebase/friendlychat/pull/115 being merged in. Closing this! Thanks, Sam! :)

[2016-12-08 00:16] #119 closed

[2016-12-08 21:53] dektar opened #121 "FriendlyMessage does not have getText() function in starter code"
FriendlyMessage.java from the android-start is missing the getText() function:

public String getText() {
  return text;
}

It is easy enough to add, but does mean that the build fails at https://codelabs.developers.google.com/codelabs/firebase-android/#5 after copy-pasting code into MainActivity.java.

[2016-12-08 22:26] zayna-shahzad commented on #121
Don't know why I accidentally removed this... must have been half asleep that day or something :/ Added back. Thank you!

[2016-12-08 22:26] #121 closed

[2016-12-08 23:08] dektar opened #123 "Firebase analytics tutorial missing Manifest permissions"
On this page: https://codelabs.developers.google.com/codelabs/firebase-android/#12

The codelab has the user initialize Firebase analytics as follows:
mFirebaseAnalytics = FirebaseAnalytics.getInstance(this);

This creates a build error because the Manifest needs two additional permissions: WAKE_LOCK and ACCESS_NETWORK_STATE. This is easy for the user to resolve, but it might be nice if the tutori

[2016-12-08 23:15] samtstern commented on #123
@dektar the permissions required should be merged in via gradle, you should not have to add manual permissions to make any Firebase products work.

Did you change the build.gradle file?  How are you building the app?

[2016-12-08 23:28] dektar commented on #123
Ahh, thanks, build.gradle was missing compile 'com.google.firebase:firebase-analytics:10.0.0'. When I add this, I can remove my two new permissions from the manifest.

[2016-12-08 23:28] #123 closed

[2016-12-09 20:10] lumleon commented on #11
I am also so confusing to run the app at Samsung S4 that at the beginning  "class for com.google.firebase.auth not found." and end up "sign-in" not successful.

I tried to download the JSON file again but it still not work.

log:

12-09 23:28:35.697 5108-5108/? D/ResourcesManager: creating new AssetManager and set to /data/app/com.google.firebase.codelab.friendlychat-1/base.apk
12-09 23:28:35.727

[2016-12-09 20:31] Divala commented on #11
Update your Google play services to 9.4.0 or above
On 9 Dec 2016 10:10 p.m., "lumleon" <notifications@github.com> wrote:

[2016-12-09 20:59] lumleon commented on #11
Hi, I had already update the the latest Google Play  Services to Rev 38 and the Repository to Rev 40 . The problem is the same.

[2016-12-10 04:38] Divala commented on #11
Okay, have you set authentication methods in firebase console?
On 9 Dec 2016 10:59 p.m., "lumleon" <notifications@github.com> wrote:

[2016-12-10 05:41] lumleon commented on #11
yes, the Google sign-in method was enabled

[2016-12-14 00:55] iulukaya commented on #100
https://firebase.google.com/docs/ios/setup#frameworks

[2016-12-14 00:55] #100 closed

[2016-12-15 11:23] krzysiekbielicki opened #127 "Firebase Android Codelab step 7"
code ends with:
`
mMessageRecyclerView.setLayoutManager(mLinearLayoutManager);
mMessageRecyclerView.setAdapter(mFirebaseAdapter);
`

LayoutManager was already set in line 146

[2016-12-15 11:25] krzysiekbielicki opened #128 "Firebase Android Codelab step 10"
After filling Services with logic...

`MyInstanceIdListenerService` should be replaced with `MyFirebaseInstanceIdService`

[2016-12-15 11:46] krzysiekbielicki opened #129 "Firebase Android Codelab step 12"
There is no information that user will not be taken to app install page unless app is published (which is not part of codelab).

[2016-12-15 12:08] krzysiekbielicki opened #130 "Firebase Android Codelab step 13"
After initializing `FirebaseAnalytics` Android Studio warns about missing permissions (ACCESS_NETWORK_STATE, WAKE_LOCK), there is no info about need of adding permissions in codelab.

[2016-12-15 12:09] krzysiekbielicki opened #131 "Firebase Android Codelab step 14"
No screenshot provided

[2016-12-15 16:51] ranesr opened #132 "Send Image Messages (iOS Swift) fails"
I followed Firebase iOS Codelab Swift - Step 8
https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#8

I was using xcode 8.2. While testing sending image messages on simulator, I clicked the "add a photo" icon, and selected an image. Instead of uploading that image, I got the following error message:

**[Generic] Creating an image format with an unknown type is an error
Error upload

[2016-12-15 17:01] samtstern commented on #127
@krzysiekbielicki thank you for reporting all these issues!  We will take a look and hopefully fix them all.

cc @kroikie

[2016-12-16 10:16] jkozh opened #133 "Can't sign in on my SAMSUNG_SM_G930A (Android 6.0.1, API 23)"
On my actual Samsung device SAMSUNG_SM_G930A (Android 6.0.1, API 23), I use android-start code.
When I click on Sign In (via Google) button, I choose my account then click on sign in. And I see the message an Authentication failed on my screen and this warning in logs :
[code]

It can't sign in only on my Samsung device, because I tried other common devices and emulators, and it works fine on them

[2016-12-17 14:19] ayushdev opened #134 "Sign-In Button not functional"
In step 7, I edited the code as instructed in the tutorial. But after opening the app, the sign-in popup doesn't appear. Also, after opening the app, the sign-in button doesn't appear.

[2016-12-20 06:21] Divala commented on #133
Enable Google as an authentication method in firebase console
On 16 Dec 2016 12:16 p.m., "Julia Kozhukhovskaya" <notifications@github.com>
wrote:

[2016-12-20 08:20] jkozh commented on #133
@Divala ,  My Google as an authentication method in firebase console was already enabled. I tried other common devices and emulators, and it works fine on them, but not on my Samsung.

[2016-12-20 15:51] Gr8Gatsby commented on #134
Button doesn't render in IE or Microsoft Edge, but it does in Chrome.

[2016-12-22 10:28] GauravCreed opened #135 "Typing....."
Hi @proppy

i am implementing a Firebase chat on android, i want to display like whatsApp in my app like **USER is Typing......** , in my app chat is one to one not multiple user, is it possible in that ...?  then please help me.

Thanks. (_)

[2016-12-22 17:57] morganchen12 commented on #135
This question is better suited for StackOverflow.

Firebase Database does update in real time, so you can create a child of your database that's responsible for recording who's typing at any given moment. On the client, write to the database node whenever someone starts or stops typing.

[code]

Then just subscribe to changes at that node, download all the keys, and display them in your UI.

[2016-12-22 17:57] #135 closed

[2016-12-28 21:28] IgorGanapolsky opened #136 "IntentService has ambiguous method"
Your codelab says:

However, **AppIndexingService** just has an ambiguous method: `getAllRecipes()`.  It is not clear what to do with this method, or what your codelab meant for the users to put into IntentService above.

Also, what does

actually mean?  Does Firebase work faster with indexes, just like Oracle and SqlServer do?

Can you please explain?

[2016-12-29 15:03] oxbits opened #137 "Android Code Lab Issue"
Android Code Lab says step 9 below but should say step 11.

"""
Note: In this codelab default Friendly Messages are limited to a length of 10 characters. In step 9 you will learn how you can use Remote Config to change this limit, even on active clients.
"""

[2017-01-06 09:42] ashleyliu31 opened #138 "Sign-in button does not appear after completing step 1-7"
DELETED

[2017-01-08 03:03] y-hakutaku opened #139 "To call UITableView#reloadData has some problem.(solution commented)"
this commit
2e0f20e578d32259ec5215e98fb95c626b35e5ce

To call UITableView#reloadData. after UITableViewDataSource delegate methods was called (e. g. tableView:cellForRowAtIndexPath:

[2017-01-09 06:13] EmersonFJ commented on #138
What was the ultimate solution here?

Thank you very much!

[2017-01-09 06:59] ashleyliu31 commented on #138
Try finding the button in the HTML code and delete "hidden" in "hidden ID" let me know if that works for u!

[2017-01-10 13:25] zeejaykim opened #140 "Sign In doesn't do anything.(after clicking)"
I completely followed Steps 1-7 but after clicking Sign In, nothing appears. I'm only using torch and firefox and both doesn't work.

[2017-01-11 16:43] lahssen opened #142 "Make communicate users mutually"
Hi everybody,
I started the first project of friendlychat, android-start, and all thing will done, now i want to complet this project to make communicate users mutually (user_1 with user_2 only no on group chat like first project).
can you help me, Is there any other google project can do that?

lahssen think you

[2017-01-11 21:31] nicolasgarnier commented on #134
Do you guys get any errors in the JavaScript console? Could you please paste them here?

Alternatively can you check that the "final" version of the app works for you? You can find it in [/web](https://github.com/firebase/friendlychat/tree/master/web)

[2017-01-11 21:37] iulukaya commented on #132
I believe I addressed this earlier. Can you check it again?

[2017-01-11 21:48] nicolasgarnier commented on #138
Can you guys please use the issue #134 for this issue lease. Feel free to chime in there :)

[2017-01-11 21:48] #138 closed

[2017-01-11 21:48] nicolasgarnier commented on #140
Can you guys please use the issue #134 for this issue lease. Feel free to chime in there :)

[2017-01-11 21:48] #140 closed

[2017-01-12 09:33] rajatsachan8 opened #143 "Error:Execution failed for task ':app:processReleaseGoogleServices'. > Missing api_key/current_key object"
this error is shown when i tried to generate the apk.

[2017-01-13 13:54] LadikCZ opened #144 "WEB - 11. Send Images - getting following net::ERR_BLOCKED_BY_CLIENT"
Followed step by step tutorial but i am getting following error when i trie to send and image. Really cant find out where is the problem. I even tried to start over or use the complete web solution provided from you in directory web. Still the same error.

https://firebasestorage.googleapis.com/v0/b/friendlychat-50777.appspot.com/o?name=3zaMioik1ghV9AvP3Ft7TEHiCvX2%2F1484315618812%2FDSC_0698.JPG n

[2017-01-17 23:11] dssp100 commented on #132
I have the same issue. Is it an issue with Firebase or one with the code in X code?

[2017-01-19 00:16] steven-mercatante commented on #92
Make sure you're logged in as the same account in both the CLI tool and the Firebase web console.

[2017-01-22 16:29] pcragone commented on #132
FYI this is still a problem

[2017-01-23 02:31] slgraff commented on #132
Yes, experiencing this as well when I go through the same tutorial.

[2017-01-25 01:23] #72 closed

[2017-01-25 01:24] #105 closed

[2017-01-25 01:26] nicolasgarnier commented on #99
If this is for the web: This shouldn't happen anymore since Storage will now be initialized after displaying the Firebase intialization snippet.

[2017-01-25 01:26] #99 closed

[2017-01-25 01:27] #91 closed

[2017-01-25 01:29] #110 closed

[2017-01-27 13:22] kolmstead commented on #134
As mentioned in #138 the index.html in web-start and web files needs the word "hidden" removed from id's user-pic, user-name, sign-out and sign-in and "disabled" needs to be removed from id submit.

Regarding #140 "Sign in doesn't do anything" I had this console error: This domain (*my domain--which happens to be a Cloud9 web IDE*) is not authorized to run this operation. Add it to the OAuth redir

[2017-01-27 14:04] nicolasgarnier commented on #134
@kolmstead the "hidden" attribute gets added or removed automatically depending on the user state (if a user is signed in or not). The relevant code is here: https://github.com/firebase/friendlychat/blob/master/web/scripts/main.js#L181-L195 Can you check that this code is here and running?

[2017-01-27 15:45] kolmstead commented on #134
I've re-added the attributes and the code does work. Perhaps the initial failure (all sign-in related code being hidden) was related to the unauthorized domain redirect error.  When I have a chance I'll see if I can re-create the scenario.

[2017-01-27 16:14] nicolasgarnier commented on #134
Cool. Yes thanks let me know if any of the steps in the codelabs are unclear. I'm always looking for making things as clear as I can.

[2017-01-29 10:11] ViliusKraujutis opened #145 ""Did you find a mistake?" overlaps list of of lessons"
<img width="243" alt="screen shot 2017-01-29 at 12 09 14" src="https://cloud.githubusercontent.com/assets/1859636/22403314/f477c16a-e61b-11e6-8093-dac472ad45f0.png">

Maybe some padding to the bottom would help?

[2017-01-29 22:58] harryttd opened #146 "12. Storage Security Rules [Optional] grammer"
"This rule allow any signed-in user to read and write any files in your Storage bucket."

Should be "allows" with an "s".

[2017-01-31 22:03] marcoalmeidap opened #147 "Sign in Pop up doesn't appear in debian chromium"
I tried the example in debian firefox and its ok.

[2017-02-02 00:19] camiloll opened #148 "10. Send Messages [Wrong key in object]"
In line 11: `photoUrl: currentUser.photoURL || '/images/profile_placeholder.png'`

`photoUrl `MUST be `photoURL` with "URL" in uppercase.

[2017-02-02 00:27] #148 closed

[2017-02-02 10:51] ashokbugude opened #149 "com.google.firebase.codelab.friendlychat W/DynamiteModule: Local module descriptor class for com.google.firebase.auth not found."
I have imported the 'android-start' sample code , After step 6 in Android
When I click on sign in , I get below error in android terminal and sign in fails with error "E/SignInActivity: Google Sign In failed"
02-02 16:17:55.172 14103-14136/com.google.firebase.codelab.friendlychat W/DynamiteModule: Local module descriptor class for com.google.firebase.auth not found.

[2017-02-03 14:18] nicolasgarnier commented on #146
Thanks! This has been fixed on the source doc and will be available at next deploy!

[2017-02-03 14:18] #146 closed

[2017-02-03 21:19] huckphin commented on #132
I am also going through the Swift tutorial right now. I ran into the same issue and wanted to understand more about this problem.

As I was adding some debugging statements to determine what was happening, the callback on _sendMessage_ completed, and it worked! It took a long time, though. I timed it: took me thirty seconds. Seems related to Internet connection speeds and sample image sizes.

[2017-02-03 21:21] huckphin commented on #132
I still do get the log message, but it seems to be an innocuous log message, which seems to indicate that it did fail, BTW. That caught me as well.

[2017-02-03 21:49] huckphin opened #150 "Misspelling in 11. Track User Flows"
URL: https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#10

Text: "Firebase Analytics provides a way for you to understand the way users move through your application, _where the succeed and where they get stuck_ and turn back. It can also be used to understand the most used parts of your application."

Should be: "Firebase Analytics provides a way for you to understand the way us

[2017-02-04 06:10] cassaregh commented on #134
Hi @nicolasgarnier . I followed the tutorial in the codelab about friendlychat in web but the problem is the "Sign in With google" doesn't appear in the nav bar I am stuck in step 7 in the last part where the page need to refresh.  Still the "Sign in With google" doesn't appear. I tried searching it on google and I landed on a youtube tutorial link: https://www.youtube.com/watch?v=0tM0dvllWGc&inde

[2017-02-04 06:22] cassaregh commented on #134
Update:

I tried to deploy it skipping the step 8-12. And I went to chat-sample-a1a12.firebaseapp.com and it works! The "Sign in With google" now appears in the nav bar! What could be the problem of this? Is it the localhost? Localhost was authorized in default in console, what could it be?

[2017-02-04 06:56] cassaregh opened #151 "Web - Messages doesn't load and can't send messages"
Obviously I followed the tutorial up to step 7 which I don't have problem encountered. I commented the other thread here about the "Sign in with google" doesn't appear in localhost but when I tried to deploy it the said button appear. I decided to continue the tutorial, I will just deploy the project after some changes. After finishing the step where to load messages, I deployed the project withou

[2017-02-04 08:51] nicolasgarnier commented on #151
hey @cassaregh,

Could you please post the public URL of your app (since you've deployed it) so we could have a look?  Otherwise, at any moment you can try to deploy the finished app which is in the `/web` folder and compare your code with the one in `/web`.

[2017-02-04 08:52] nicolasgarnier commented on #150
This one is for you @iulukaya !

[2017-02-04 21:58] nicolasgarnier commented on #134
@cassaregh Mhh that's very strange! Can you tell me which browser (and which version) you used? I'll try to reproduce.  Also were you serving your files locally using `firebase serve` ?

[2017-02-04 21:59] nicolasgarnier commented on #134
Can you also go back to localhost and have a look at the Javascript console to see if there are any errors?

[2017-02-05 03:50] MattnetLLC opened #152 "After connecting custom domain, Google sign-in not working through custom domain"
When visiting web app through normal firebase link, it works fine, but not through the custom domain connection.  Also, neither one is showing the user pic next to username?

https://matterialx.net/

Thanks!

[2017-02-05 04:01] MattnetLLC commented on #152
1/2 Solved...needed to add custom domain to oauth redirect list in firebase console.  Works fine now.  Still no user pic displaying though...

[2017-02-05 07:06] nicolasgarnier commented on #152
I just posted a message and I see my pic :)

<img width="534" alt="screen shot 2017-02-05 at 08 05 13" src="https://cloud.githubusercontent.com/assets/3766663/22624351/e0ea0f32-eb79-11e6-9501-284d57bebfa7.png">

The first three messages are just test anonymous messages (so there is no user pics per say). Seems to me this is working?

[2017-02-05 12:34] MattnetLLC commented on #152
Thanks for your reply.  I was actually referring to the user pic located to right of username which is to the right of signout in the header.  Only my username shows up there, no user pic.
Also, when I type a message, and click the send button, nothing happens....curious how it worked for you?  Could my database rules be excluding me somehow?

[2017-02-05 22:03] ranesr commented on #132
@iulukaya I checked it again today. But, it still shows the generic message I have written above.

**[Generic] Creating an image format with an unknown type is an error**

But, I do not see this message-

**Error uploading: An unknown error occurred, please check the server response.**

So, I thought it uploaded image; and when I checked the storage item in my project in Firebase console, it shows

[2017-02-05 22:05] nicolasgarnier commented on #152
It seems that in your code you have commented out those two lines:

https://github.com/firebase/friendlychat/blob/master/web-start/scripts/main.js#L130-L131

If you put them back the signed-in user will be displayed on the top right.

Concerning your pic not showing in the messages I'm investigating...

[2017-02-05 22:13] nicolasgarnier commented on #152
Hey Matt, I'm not sure why your profile is not showing up). Can you tell me what account you've used to sign-in your app? i.e. does it have an attached Google+ profile? or is it a GSuite account by any chance?

[2017-02-06 16:50] ranesr opened #153 "Wrong numbers for numbered list in tutorial #5 - Identify users"
Tutorial [#5](https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#4)

Under **Add Email/Password Sign In via Firebase Authentication**
The numbers for numbered list are wrong. It should be-

Before your application can access the Firebase Authentication APIs on behalf of your users, you will have to do enable it:

1. Go to the [Firebase console](https://console.firebase.google.com/

[2017-02-06 17:06] nicolasgarnier commented on #153
@iulukaya This one is for you!

[2017-02-06 20:42] engelke opened #154 "Web-start Step 8 references missing initial_messages.json file"
The tutorial says to "Browse to the initial_messages.json file in the starter directory" and import it, but there is no such file.

[2017-02-07 00:17] nicolasgarnier commented on #154
@engelke Thanks for the report. FYI the fie is at the root of the repo:

https://github.com/firebase/friendlychat/blob/master/initial_messages.json

I've changed the wording in the instructions to:

"
Browse to the [initial_messages.json](https://github.com/firebase/friendlychat/blob/master/initial_messages.json
) file at the root of the repository
"

We'll see this the next time we re-publish the

[2017-02-07 00:17] #154 closed

[2017-02-10 01:59] ranesr opened #156 "Starter App not running"
Tutorial [#3 - Build the starter app](https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#2)

I followed the first three steps.
After that when I click the **RUN** button, I get the following error:

`'You must specify |clientID| for |GIDSignIn|'`

EDIT:
If I write this line in `AppDelegate.swift`, it runs-

`GIDSignIn.sharedInstance().clientID = FIRApp.defaultApp()?.options.client

[2017-02-11 20:43] jbarth04 commented on #103
I'm having a similar issue on step 7 of FriendlyChat.  I've added the specified code to index.html  and main.js.  When I deploy the app using "firebase deploy", the sign-in with google button appears.  However, when I try to serve the page locally (on http://localhost:5000), the google sign-in button does not appear.  I am using Chrome and I do not see any errors in the Javascript console.  I have

[2017-02-11 20:52] jbarth04 commented on #134
I'm having a similar issue on step 7 of FriendlyChat with serving on localhost. I've added the specified code to index.html and main.js.  When I deploy the app using "firebase deploy", the sign-in with google button appears (see app here: https://friendlychat-bc5da.firebaseapp.com/). However, when I try to serve the page locally (on http://localhost:5000), the google sign-in button does not appear

[2017-02-11 21:35] nicolasgarnier commented on #134
@jbarth04 thanks for the report. This is indeed very strange behavior.

One thing that comes to mind: There could be some things leftover from other tutorials or other test apps that you've tried on localhost:5000. Could you try running the app an another port? For instance try running: `firebase serve --port 5005` and then try the app on http://localhost:5005

If things work on localhost:5005 - I

[2017-02-11 22:12] jbarth04 commented on #134
@nicolasgarnier Thanks for the suggestion, running "firebase serve --port 5005" works!  I'll have to play around with cookies for localhost:5000 (I have done a lot of demo web-apps on there).  Thanks again!

[2017-02-15 06:42] GR0B commented on #134
I have the same issue of the signin/out buttons not showing.
running "firebase serve --port 5005" does not work for me.
I do not get any errors in chrome's JavaScript console.

If I comment out the "hidden" in the index.html then get the buttons but they do not do anything when clicked.

[2017-02-15 09:22] nicolasgarnier commented on #134
@GR0B can you deploy your code online? Run `firebase deploy` and provide the URL. I'll have a look.

[2017-02-22 17:08] sejr commented on #143
This occurs because your generated `google-services.json` is missing the required API Key. Did you provide the SHA1 of your signing keystore when you created the application on the Firebase Console? If not, get the SHA1, add it to the Firebase app, then redownload the JSON file.

[2017-02-22 17:18] samtstern commented on #143
We've seen a few cases of a race condition on the server causing the `google-services.json` file to not have the required `api_key/current_key` entry.  This should be fixed if you just re-download the file.

Also worth noting that since this issue was filed (Jan 12th) we've released a server-side fix so I am going to close this issue (as it should not happen anymore).

[2017-02-22 17:18] #143 closed

[2017-02-23 21:53] mjberman024 commented on #134
Hey @nicolasgarnier -
When i click on the Sign in with google button, an about-blank window pops up for about 1 second then immediately disappears.
I am getting the following errors in my javascript console.
![screen shot 2017-02-23 at 4 51 12 pm](https://cloud.githubusercontent.com/assets/19418340/23280782/8de3cf76-f9e8-11e6-8057-767225f07b97.png)

[2017-02-23 22:19] mjberman024 commented on #134
When i click the sign in button the window pops up but immediately disappears. I have narrowed it down to a problem with adding my API key.

![screen shot 2017-02-23 at 5 17 37 pm](https://cloud.githubusercontent.com/assets/19418340/23281670/426cad66-f9ec-11e6-9980-c63deef0871b.png)

[2017-02-23 22:21] nicolasgarnier commented on #134
@bojeil-google does this last issue ring a bell? This looks like a (hopefully) temporary issue on our end.

[2017-02-23 22:31] mjberman024 commented on #134
Thank you for the quick response.  I resolved this issue on my end by creating another project and using another API Key. Here's the full console log from my previous issue.
![screen shot 2017-02-23 at 5 30 37 pm](https://cloud.githubusercontent.com/assets/19418340/23282110/d96d3d88-f9ed-11e6-9a44-df2b9e3a913d.png)

[2017-02-26 22:25] sagar-shah94 opened #159 "Left horizontal slide out menu not working properly in mobile"
when i try to open slide out menu it works but when i try to scroll through it ,it unexpectedly closes

[2017-02-27 06:28] danielle-h opened #160 "Android: starter code does not include imageUrl in FriendlyMessage"
android-start does not include imageUrl in FriendlyMessage, the ImageView in item_message.xml, the ImageView in the View Holder, and all the functions pertaining to them. I found them in the full code of the android app.

[2017-02-27 15:54] rahsharma opened #162 "Section 7. Read Messages is full of bugs"
When you are writing the tutorial you should understand that the person reading does not have much information .
what you have written in the tutorial is this
"**Modify your MainActivity's onCreate method, replace mProgressBar.setVisibility(ProgressBar.INVISIBLE); with the code defined below. .......**"
and a big code following that but there are many compilation error during that.So you must tell

[2017-03-01 10:50] salimshivani opened #163 "Section 8: Improper call of FriendlyMessage.class"
The FriendlyMessage.java in MainActivity.java is not called properly in android-start. The constructor overrides 3 arguments in FriendlyMessage.java whereas in MainActivity.java 4 arguments are passed.

Also, in putImageInStorage() , task.getResult().getMetadata() show an error "This method should only be accessed from tests or within private scope.

P.S.: The FirebaseAnalytics is used in section

[2017-03-02 12:47] salimshivani opened #164 "Image sending in android-starter"
There is an issue in android-starter in sending an image. When the image is sent, either the app crashes or the app image is not sent. Just the user image along with the name is displayed.

Also, when the text message is sent, the user image is not displayed.

[2017-03-02 16:35] srividyaswaminathan opened #165 "Project settings > Cloud messaging incorrect link in #10"
The link points to Google internal site firebase.corp.google.com instead of console.firebase.google.com

[2017-03-03 12:17] prafulSingh opened #166 "Image sending is not working"
Image sending is not working because  `REQUEST_IMAGE ` constant is not at all defined anywhere , and according to the code provided in tutorial we have something like `startActivityForResult(intent, REQUEST_IMAGE);` , (under section  8 send messages inside `mAddMessageImageView.setOnClickListener`)

[2017-03-03 19:25] RNT17 commented on #166
The Android codelab was updated, but the code into github wasn't.

[2017-03-04 14:23] TongWR opened #168 "typo in Step #9 of web-start tutorial"
In `FriendlyChat.prototype.saveImageMessage` function, `this.messageRef` is misspelled as `this.messagesRef` causing error.

Contributing guideline says

I don't seem to find any test. Do I need one in order to submit a PR?

Thanks!

[2017-03-04 20:28] willramsey opened #169 "Version mismatch: Initialization snippet from firebase console and npm use different firebase versions"
Running npm install -g firebase-tools currently installs version 3.4.0 by default while version 3.7.0 is loaded in the script tag.

FIX:
1. Type firebase version in the terminal. Output is e.g. 3.4.0
2. Ensure script element loads this same version
  Change the snippet src attribute
    FROM:
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    TO:
    <script src="

[2017-03-04 20:51] nicolasgarnier commented on #169
Hey @willramsey ,

Actually these two versions don't really have anything to do with each other :) I know these version numbers are close and that may be a bit confusing  but CLI v 3.4.0 should have no problem with the JS SDK v 3.7.0 being loaded onto your page.

Cheers!

[2017-03-04 20:51] #169 closed

[2017-03-04 20:52] nicolasgarnier commented on #168
Hey @TongWR,

I double checked but `this.messagesRef` is definitely correct. Could you tell me what was the error caused?

Cheers

[2017-03-04 20:56] nicolasgarnier commented on #165
Thanks @srividyaswaminathan and fixed!

[2017-03-04 20:56] #165 closed

[2017-03-05 01:42] TongWR commented on #168
Ah you're right. It's I checked my code, it's actually a typo _I_ made earlier that caused error on my machine. This is embarrassing. Thanks a lot!

[2017-03-05 01:42] #168 closed

[2017-03-06 13:46] balatimuz opened #170 "FriendlyMessage Constructor issue."
public FriendlyMessage(String text, String name, String photoUrl) {
having only 3 Arguments but in code somewhere used like below causing errors..

FriendlyMessage tempMessage = new FriendlyMessage(null, mUsername, mPhotoUrl,LOADING_IMAGE_URL);

Some bugs in Task getDownloadURL.
Thank You.

[2017-03-06 20:38] drdavidpier commented on #160
In addition the mainactivity file and the tutorial is missing any reference to `messageImageView = (ImageView) itemView.findViewById(R.id.messageImageView);` which is present in the complete code

[2017-03-07 16:14] RNT17 commented on #170
You can create a new Constructor.
Something like this: public FriendlyMessage(String text, String name, String photoUrl, String imageUrl) { }
[See here](https://github.com/firebase/friendlychat/commit/d7addad8bbb17b9a50f6f67828887dfd74475b0b#diff-bde92ace3dabf2f9d9233fee4fc7803f)

[2017-03-11 03:30] rahul-thakoor opened #171 "typo"
https://codelabs.developers.google.com/codelabs/firebase-web/#6

Should be

[2017-03-11 18:41] IoanDamian opened #172 "Cannot resolve symbols from Synchronize messages"
When replacing mProgressBar.setVisibility(ProgressBar.INVISIBLE); to synchronize messages , Android logs that he cannot resolve Uri, getResult, isSuccesfull, getException
![capture](https://cloud.githubusercontent.com/assets/15225918/23825884/0d2ce088-069b-11e7-9d39-a1651be088ba.PNG)

[2017-03-12 13:35] sowmyakann opened #173 "npm and nodejs prereq missing in codelab Overiew page"
https://codelabs.developers.google.com/codelabs/firebase-web/#3
This page says:
To install the CLI you need to have installed npm which typically comes with NodeJS.

This should be mentioned as a prereq in the What you'll need section on the Overview page.
https://codelabs.developers.google.com/codelabs/firebase-web/#0

Otherwise, the learner has to spend several minutes updating XCode and install

[2017-03-14 04:48] teddyzetterlund commented on #74
Thought I'll chip in here, since I had the same error message and fix. Though, not unexpected when you think about it. I removed my local code folder for my Firebase projects, followed by cloning it anew from GitHub. Then I simply wrote `firebase deploy` by habit and the error message above threw me off a bit, which is why I found this thread.

So that could be a way to replicate it at least.

[2017-03-14 13:31] inter8ection opened #174 "Firebase bot message photoUrl images path is incorrect"
[code]

I assume this should be ../images

[2017-03-14 13:54] nicolasgarnier commented on #174
Are you not at the root of your domain? i.e. https://<projectID>.firebaseapp.com/

[2017-03-14 13:59] inter8ection commented on #174
Sorry @nicolasgarnier you're absolutely correct, it works now. Apologies for wasting your time.

[2017-03-14 13:59] #174 closed

[2017-03-14 14:19] nicolasgarnier commented on #174
No worries! Glad it works for you now :)

[2017-03-15 17:12] nicolasgarnier commented on #104
Fixed!

[2017-03-15 17:12] #104 closed

[2017-03-15 17:12] nicolasgarnier commented on #97
Fixed!

[2017-03-15 17:12] #97 closed

[2017-03-15 17:13] nicolasgarnier commented on #98
Fixed :) added a  suggestion for this

[2017-03-15 17:13] #98 closed

[2017-03-15 22:05] iulukaya commented on #156
Fixed.

[2017-03-15 22:05] #156 closed

[2017-03-15 22:08] iulukaya commented on #150
Fixed, thanks!

[2017-03-15 22:08] #150 closed

[2017-03-15 22:09] iulukaya commented on #59
Thanks.

[2017-03-15 22:09] #59 closed

[2017-03-15 22:10] iulukaya commented on #116
Is this still valid?

[2017-03-15 22:10] #116 closed

[2017-03-18 18:50] loganpowell opened #175 "Typo: 11. Database Security Rules [Optional]"
Set Database Security Rules
The Firebase Realtime Database uses a specific rules language to define access rights, security and data validations.

New Firebase Projects are set up with default rules that only allow authenticated users to use the Realtime Database. You can view and **modifies** these rules in the Database section of Firebase console under the RULES tab. You should be seeing the def

[2017-03-19 18:55] Jatra opened #176 "Step 7 Read Message code needs a fix"
Simple one:

Android step 7:

viewHolder in populateViewHolder is used in an inner class, so needs to be final:
ie

[code]

[2017-03-19 18:57] Jatra opened #177 "Step 8 footer note needs update"
Android step 8.

Now changing message length is step 11, not step 9 as stated. ie requires change to

 In step **11** you will learn how you can use Remote Config to change this limit, even on active clients.

[2017-03-21 00:55] anudeep3998 commented on #163
Isn't it the other way round? FriendlyMessage expects 4 String parameters , while MainActivity's send button listener only passes only 3 arguments.

[2017-03-21 04:19] rawatshailender opened #178 "Step 7 : Missing final declaration for MessageViewHolder in MainActivity class"
[code]

[2017-03-21 04:35] rawatshailender opened #179 "Step 8 : FriendlyMessage class has 4 arguments"
FriendlyMesssage constructor has 4 arguments rather than 3 as mentioned in Step 8 (Send Messages)
[code]

[2017-03-22 05:39] conorleeds commented on #179
I think the last argument should be LOADING_IMAGE_URL
that is what is used in the onActivityResult method

[2017-03-22 09:08] nadam commented on #134
Changing port to 5005 worked for me too. Can you please add that as a note in [the instructions](https://codelabs.developers.google.com/codelabs/firebase-web/#5) and/or link to this issue?

[2017-03-22 13:36] rahulmittal opened #180 "firebase-cloud-functions - using web gives notification 2 times."
URL : https://codelabs.developers.google.com/codelabs/firebase-cloud-functions/#9

when we post the message on friendly chat (https://friendlychat-5b486.firebaseapp.com/) and navigates to different tab we get notification 2 times..  While we are on the same tab - get it once..

![capture-20170322-190534](https://cloud.githubusercontent.com/assets/4521131/24200268/9f4ec8b0-0f32-11e7-964d-ba621c3dbd

[2017-03-22 15:20] EvergreenGOD opened #181 "Error on Section 8 "Send a message""
Hello,
I try to send a message using the exact code from the tutorial but when I click on "SEND" nothing happens..
Could someone help me please?

[2017-03-22 15:55] #181 closed

[2017-03-22 16:35] RNT17 opened #182 "Firebase Android Codelab step 11"
Method applyRetrievedLengthLimit() Does not initialize the EditText mMessageEditText causing crash.
Please add: `mMessageEditText = (EditText) findViewById (R.id.messageEditText);`

[code]

[2017-03-22 16:40] RNT17 commented on #179
Add in your FriendlyMessage Class a new constructor. This will suport the new variable _imageUrl_.

[code]

[2017-03-23 01:24] kroikie commented on #182
mMessageEditText is initialized in [onCreate](https://github.com/firebase/friendlychat/blob/master/android-start/app/src/main/java/com/google/firebase/codelab/friendlychat/MainActivity.java#L139). You should not need to initialize it in applyRetrievedLengthLimit.

[2017-03-23 01:24] #182 closed

[2017-03-23 01:26] kroikie commented on #180
From looking at the domains that the notifications are coming from. It looks like you have a local app (localhost:5000) running that may also be receiving the notification. Be sure to stop your local app and you should be down to a single notification per message.

[2017-03-23 01:26] #180 closed

[2017-03-23 01:35] kroikie commented on #179
Updated to use the correct constructor, thanks for catching this.

[2017-03-23 01:35] #179 closed

[2017-03-23 01:41] kroikie commented on #178
Thanks for catching this, added final.

[2017-03-23 01:41] #178 closed

[2017-03-23 01:43] kroikie commented on #177
Thanks @Jatra, fixed.

[2017-03-23 01:43] #177 closed

[2017-03-23 01:43] kroikie commented on #176
Thanks @Jatra fixed.

[2017-03-23 01:43] #176 closed

[2017-03-23 01:46] kroikie commented on #175
Thanks @loganpowell

[2017-03-23 01:50] kroikie commented on #173
Good call, added.

[2017-03-23 01:50] #173 closed

[2017-03-23 01:53] kroikie commented on #172
Added, thanks @IoanDamian

[2017-03-23 01:53] #172 closed

[2017-03-23 01:58] kroikie commented on #171
fixed thanks @rahul-thakoor

[2017-03-23 01:58] #171 closed

[2017-03-23 01:59] kroikie commented on #170
This has been resolved thanks for catching it @balatimuz

[2017-03-23 01:59] #170 closed

[2017-03-23 02:00] kroikie commented on #166
This has been resolved thanks, @prafulSingh

[2017-03-23 02:00] #166 closed

[2017-03-23 02:03] kroikie commented on #162
Thanks @rahsharma the issues you raised should be addressed thanks for catching them.

[2017-03-23 02:03] #162 closed

[2017-03-23 02:11] kroikie commented on #163
The FriendlyMessage usage has been updated, Analytics has been removed from section 12. Thanks for catching that.

[2017-03-23 02:11] #163 closed

[2017-03-23 08:31] EvergreenGOD opened #183 "Step 10 - Show Notifications"
Could someone tell me what we have to do to send the HTTP request?
I don't know where I should write it..

[2017-03-23 08:43] nicolasgarnier commented on #183
Hey @EvergreenGOD just below the HTTP request there is this:

`You can do this by using cURL in a command line:` and then we show you how to send the request using cURL.

[2017-03-23 08:43] #183 closed

[2017-03-23 08:49] EvergreenGOD commented on #183
Is cURL the consol with one we start the firebase server?

[2017-03-23 09:14] nicolasgarnier commented on #183
Here is the cURL website: https://curl.haxx.se/

Yes it is a command line tool just like the Firebase CLI.

[2017-03-23 12:59] AndreyKastelmacher commented on #95
Was it resolved?

[2017-03-23 15:49] RNT17 commented on #182
thanks @kroikie. I was using fetchConfig before be initialized mMessageEditText.

[2017-03-23 17:41] Maryom commented on #156
O got the same error:

`*** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'You must specify |clientID| for |GIDSignIn|'`

Any help?!

[2017-03-23 18:00] iulukaya commented on #156
I fixed the issue 8 days ago, can you make sure you have the latest version of the repo?

[2017-03-23 18:20] Maryom commented on #156
@iulukaya Yes I'm using the latest version and still same issue. It's really weird

[2017-03-23 18:24] iulukaya commented on #156
If you follow the steps, it'll tell you

"write this line in AppDelegate.swift, it runs-

GIDSignIn.sharedInstance().clientID = FIRApp.defaultApp()?.options.clientID"

in the meantime I'll test again to make sure it builds out of the box.

[2017-03-23 18:31] Maryom commented on #156
Yes I wrote kindly check the image below. Also, I tried to write the client ID manually and still same error!

<img width="622" alt="screen shot 2017-03-23 at 9 29 25 pm" src="https://cloud.githubusercontent.com/assets/3218401/24263981/ee0dac0e-100f-11e7-8f41-4e907858e161.png">

[2017-03-23 18:56] ranesr commented on #156
@Maryom @iulukaya I downloaded the latest version and followed first 3 tutorials and can verify that the starter app runs without adding any new line of code.

[2017-03-23 19:10] Maryom commented on #156
@ranser Did you run it after [Identify Users](https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#4) step?

[2017-03-23 19:43] ranesr commented on #156
@Maryom Yes. I actually completed [Step 6 - Activate Realtime Database](https://codelabs.developers.google.com/codelabs/firebase-ios-swift/#5) and ran it without any problem.

[2017-03-23 19:55] Maryom commented on #156
@ranesr Are you using Xcode 8 and Swift 3 ?

[2017-03-23 20:05] ranesr commented on #156
@Maryom I am using Xcode 8.2.1(8C1002) and Swift 3.0.2

[2017-03-23 20:09] Maryom commented on #156
@ranesr Well I don't know why I'm still getting this error :/

[2017-03-24 00:37] JohnEMSammons opened #184 "Deploy Error: Insufficient permissions to configure a trigger (permission denied for bucket)"
When I add the blurOffensiveImages code, and deploy I get the following error:

!  functions[blurOffensiveImages]: Deploy Error: Insufficient permissions to (re)configure a trigger (permission denied for bucket friendlychat-XXXXXXXXXX.com). Please, give owner permissions to the editor role of the bucket and try again.

I removed the full url.

I followed the tutorial correctly as far as I can tell

[2017-03-24 14:27] realjax opened #185 "step 5 loading url fails"
App fails with message:

You have not configured and imported the Firebase SDK. Make sure you go through the codelab setup instructions.

Followed all instructions but can't see what I'm missing

[2017-03-24 14:29] realjax commented on #185
Turned out I had edited the wrong index.html to include the config

[2017-03-24 14:29] #185 closed

[2017-03-25 16:52] MroSCho commented on #134
Same issue. Popup window disapears when I click the Sign-in button.
Tried changing the port to 5005, still no luck.

![console_snip](https://cloud.githubusercontent.com/assets/26675798/24324269/bca4a940-1183-11e7-9a79-22fc6dfbf44a.PNG)

Any help?

[2017-03-25 18:47] bojeil-google commented on #134
Sorry, I didn't see this one. For sign in with popup, an iframe gets embedded. It looks like it's timing out. This may be local only. Can you test on a different network? or different device. This will help shed some light on this. Can you also check the network log to see if there is more info on this?

[2017-03-25 21:04] kroikie commented on #32
I don't believe this is still an issue, closing. Please reopen is issue still exists.

[2017-03-25 21:04] #32 closed

[2017-03-25 21:06] kroikie commented on #184
Hi @JohnEMSammons do you have multiple users adding images? Having `allow read, write: if request.auth.uid == userId;` would mean that only the user that posted the image could see it.

[2017-03-26 05:43] siowze opened #186 "Section 8: Improper call of FriendlyMessage.class"
I face the problem that salimshivani had pointed out.
In putImageInStorage() , task.getResult().getMetadata() show an error "This method should only be accessed from tests or within private scope."

[2017-03-26 10:54] MroSCho commented on #134
Thanks for quick reply.
Tried on 2 other networks, same problem.
So I went on the finish all the steps and deploy. Using the deploy link, all worked well on my iPhone and Nexus 6p, but not on my Surface.... So the logical next step was to check if Bitdefender was being too strict. Turned off the web protection and everything went back to normal, even localhost works again.... stupid me.
Thanks aga

[2017-03-27 02:20] bojeil-google commented on #134
Thanks MroSCho for investigating this and getting back to us on this.

[2017-03-27 21:01] francenylson opened #187 "Messages with no date and time."
Good Nigth,
Messages have no dates or times. How to implement in Friendlychat to have the date in each message?

thank you.

[2017-03-28 09:37] nicolasgarnier commented on #187
@francenylson  You would just have to store the Timestamp of the message in the message object (when you create the message) alongside name, text and photoURL [here](https://github.com/firebase/friendlychat/blob/master/web/scripts/main.js#L89-L92).

Then you'll need to add an element on the UI to display the date accordingly.

[2017-03-28 09:37] #187 closed

[2017-03-28 12:31] francenylson commented on #187
I am a beginner and I have no advanced knowledge of java / android.
Please, could you guide me step by step how to implement this
functionality to include the date and time in the messages?

The code  :

/**
 * Copyright Google Inc. All Rights Reserved.
 * <p/>
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 *

[2017-03-28 14:02] nicolasgarnier commented on #187
Hey @francenylson,

I think you should start asking about your issues on Stack Overflow or hire a developer, this issue tracker is to report bugs and feature requests on the Firebase Codelabs but it's not really a place to request coding/development assistance.

Cheers!

[2017-03-29 01:46] secorbett13 commented on #134
I am having the same problem when using Edge or IE 11. If I remove the "position: absolute" attribute on the user-container CSS definition, the area shows up and all is well.

[2017-03-29 08:37] ThanyamonNisa opened #188 "Failed to resolve : compile 'com.firebaseui:firebase-ui-database:0.4.0'"
Failed to resolve : compile 'com.firebaseui:firebase-ui-database:0.4.0'
and FirebaseRecyclerAdapter Cannot resolve symbol

[2017-03-30 01:32] #188 closed

[2017-03-30 14:12] kroikie commented on #164
Hi @salimshivani I'm unable to reproduce this, is this still an issue?

[2017-03-30 14:13] kroikie commented on #160
This has been fixed, thanks for catching this!

[2017-03-30 14:13] #160 closed

[2017-03-30 14:15] kroikie commented on #159
@sagar-shah94 if this is still an issue could you provide some reproduce steps?

[2017-03-30 14:17] kroikie commented on #149
@ashokbugude that error often indicates that you may be using an old version of Google Play Services on the device. Update it and the auth module should be found.

[2017-03-30 14:17] #149 closed

[2017-03-30 14:22] kroikie commented on #145
Thanks for pointing this out. We are looking into it.

[2017-03-30 14:22] #145 closed

[2017-03-30 14:27] kroikie commented on #142
@lahssen This codelab creates a global "room" where all users can see all messages. However you can adjust it so that you create individual rooms for each conversation. So instead of:

- messages
    - msg_1
        ...
    - msg_2
        ...

You will have:
- conversations
    - conversation_1
        - msg_1
            ...
        - msg_2
            ...
    - conversation_2
        - msg_1

[2017-03-30 14:27] #142 closed

[2017-03-30 14:28] kroikie commented on #137
This has been fixed. Thanks for catching this!

[2017-03-30 14:28] #137 closed

[2017-03-30 14:44] kroikie commented on #112
Fixed will be republished soon. Thanks!

[2017-03-30 14:44] #112 closed

[2017-03-30 14:45] kroikie commented on #133
I wonder if it could be the version of Google Play Services on the device? Could you update it and try again if this is still an issue.

[2017-03-30 14:46] nicolasgarnier commented on #58
We're now asking developers to simply run `npm install -g firebase-tools`

[2017-03-30 14:46] #58 closed

[2017-03-30 14:48] kroikie commented on #131
Fixed, the screenshot is from step 1

[2017-03-30 14:48] #131 closed

[2017-03-30 14:56] nicolasgarnier commented on #184
Can I ask how you created your Firebase project? Did you simply create the project normally through the Firebase app console? Is it an older project? (we had bugs at some point where Cloud Storage buckets were not created wit the right permissions but that *should* be fixed)

Basically it seems you may have hit a bug. Try re-creating a new firebase project and let us know if that should fix this i

[2017-03-30 15:13] nicolasgarnier commented on #152
I'm closing this but feel free to reply if you still need help.

[2017-03-30 15:13] #152 closed

[2017-03-30 16:51] JohnEMSammons commented on #184
This was integrated into an existing Firebase project.  The project was originally created a few months ago.  I will move to a new Firebase project and see how it goes.  What is the procedure for correcting existing firebase projects with permissions issues?

[2017-03-30 19:30] JohnEMSammons commented on #184
I started a new project and now I can deploy.  the function is still not working however.  What should my storage rules be?

I am currently getting the following in my blurOffensiveImages log:

3:20:05.407 PM
outlined_flag
blurOffensiveImages
Function execution took 44 ms, finished with status: 'ok'
3:20:05.404 PM
info
blurOffensiveImages
This is not a user folder.
3:20:05.364 PM
outlined_flag
blu

[2017-03-30 21:07] #133 closed

[2017-04-01 11:35] DogeWeb commented on #184
I just had the same problem. I looked at a new project permissions and noticed that in the old project there were some missing.

To fix it try these steps:

1. Go to: https://console.cloud.google.com/storage/browser?project=your-firebase-project-id
2. Click on the three dots near the default bucket (not the one starting with "staging"), then click on "Edit bucket permissions"
You will find an item

[2017-04-03 01:28] salimshivani commented on #164
Thank you for the response, but then can internet connectivity be the reason for crashing the app?

Since, in initial stage, the app was just not displaying the imageview for the image sent, but later on, it started crashing.

[2017-04-03 12:51] nicolasgarnier commented on #184
👍 Thanks for the Help @DogeWeb that's exactly it.

[2017-04-03 20:06] JohnEMSammons commented on #184
👍 That was the issue with my old project.  Thanks DogeWeb!

[2017-04-04 08:28] vajohn opened #190 "Firebase Android Codelab step 5"
After trying to serve the cli just hangs

![53e6919b-0d5f-4b98-97e9-6b1f88b268c5](https://cloud.githubusercontent.com/assets/24270878/24647686/2e975c88-1921-11e7-8714-e8b29504f03b.jpg)

The underscore just blinks but nothing appears. Tried this "firebase serve -p 5000 -o 127.0.0.1" and still the same results.

[2017-04-04 08:33] #190 closed

[2017-04-05 08:45] VaibhavP17 opened #191 "Can we have friendlychat using Typescript instead of JS ?"
As we are using typescript more and more nowadays, I think it would be a great idea to rewrite the whole application in Typescript or using the ES6 features.

[2017-04-07 04:42] somombo opened #195 "Implementing "Someone is typing...." functionality"
I have ported the web version of the [friendlychat](https://github.com/firebase/friendlychat) example into the angular 4 suite. You can see mine live [over here](http://www.somombo.com) and it's appears to be working okay... I shall publish it opensource shortly.

Now I want to implement a feature that is such that when a User A starts typing then in realtime, user B should see a "User A is typing

[2017-04-07 22:43] markgoho opened #197 "Error encountered resolving symbol values statically"
[code]

Getting this for both angular and angular-start

[2017-04-10 16:49] rzhang86 commented on #144
I have a similar but not identical error when sending an image message:
Failed to load resource: net::ERR_UNKNOWN_URL_SCHEME
In the chat box, the presence of a new image message is reflected however an image-missing placeholder icon is shown instead of the image itself. I can confirm the image is in the Cloud Storage backend. Something is wrong with the pathing or authentication in the tutorial.

[2017-04-12 00:59] marianobilli commented on #186
Suscribed to wait for the solution, thanks kroikie!

[2017-04-12 10:02] bogacg opened #198 "firebase-cloud-functions-angular Step 6: CLI build is AoT already"
Thanks for this well written, informative Code Lab.
One thing I've noticed, in Step 6 of Angular Lab, this is how you build Angular app: `ng build --prod --aot`

You **don't** need `--aot` option,  `ng build --prod` gives AoT output by default and `--no-aot` option is used in case AoT is not desired.

[2017-04-13 01:03] dawogfather opened #199 "Firebase Web codelab - Step 12. Storage Security Rules [Optional]"
![image](https://cloud.githubusercontent.com/assets/447826/24985593/8d0e66e4-2038-11e7-87f1-50c394c55cd5.png)

The sentence highlighted in the screen shot (and included below) doesn't seem to make sense as the example following it doesn't have a PROJECT_ID in it.

[2017-04-13 14:14] kroikie commented on #199
Thanks for noting this @dawogfather, updated.

[2017-04-13 14:14] #199 closed

[2017-04-17 11:19] creat-or opened #200 "tutorial firebase-web-angular not available"
I wanted to do the tutorial at https://codelabs.developers.google.com/codelabs/firebase-cloud-functions-angular/. At the first page it states "If you would like to learn how to use the Firebase platform on the Web by building an AngularFire chat app, follow the Firebase Web Angular Codelab first." (referring to https://codelabs.developers.google.com/codelabs/firebase-web-angular). This isn't avail

[2017-04-17 18:40] gitblair opened #201 "Firebase Android Codelab #7 Read Messages Missing info / OnCompleteListener Error"
I suppose it could just be my issue but just in case:

As followed you end up with an error with

[code]

In order for me to get this working, I had to add the following to the top import section of MainActivity.java:

[code]

[2017-04-17 19:31] gitblair opened #202 "Firebase Android Codelab #8 Send Messages Missing info / DatabaseError Error"
In order for me to get this working, I had to add the following to the top import section of MainActivity.java:

[code]

[2017-04-19 09:55] Vincent05 commented on #26
amazing, worked for me as well with a little variation:
`match /{userId}/{postId}/{fileName} { `

[2017-04-20 14:23] kroikie commented on #202
@gitblair thanks for pointing that out. Fixed.

[2017-04-20 14:23] #202 closed

[2017-04-20 14:25] kroikie commented on #201
@gitblair Thanks for pointing that out, fixed.

[2017-04-20 14:25] #201 closed

[2017-04-20 14:41] kroikie commented on #195
Hi @somombo, I think persisting the state of the conversation and updating it in realtime is a good use of Firebase Realtime Database. You have an open connection to the database so use it. You could use Pub/Sub or FCM to accomplish this but given the small footprint this will have on the DB I'd think that would be a good solution.

[2017-04-20 14:41] #195 closed

[2017-04-22 21:37] leilaapsilva opened #203 "Facebook auth for Android"

[2017-04-23 17:16] adegreiff opened #204 "doc: link points to google internal page"
the link to the pricing page in step 10 of the docs https://codelabs.developers.google.com/codelabs/firebase-cloud-functions/index.html?index=..%2F..%2Findex#9

points to

https://firebase-dot-devsite.googleplex.com/pricing/

which does not seem to be the official site.

[2017-04-25 17:04] MiloslavKrejza opened #207 "User image and credentials do not show"
I have described my problem here. Can anyone help?

http://stackoverflow.com/questions/43616690/firebase-with-google-authentication-project-doesnt-show-image-and-credential

[2017-04-25 17:08] MiloslavKrejza commented on #207
.lp?dframe=t&id=1231325&pw=hx1NhGMZmS&ns=webartis-43586:5

Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/

.
EnvSendPing @ .lp?dframe=t&id=1231325&pw=hx1NhGMZmS&ns=webartis-43586:5
EnvDisconnect @ .lp?dframe=t&id=1231325&pw=hx1NhGMZmS&ns=webartis-43586:10
g.Tc @ firebase-

[2017-04-25 18:19] MiloslavKrejza commented on #207
Ok i logged in cmd as a different email account user. Now it is fixed. 👍

[2017-04-25 20:46] Eliyar commented on #184
Thanks @DogeWeb for the update. I needed to update "object default permissions" in addition to the "bucket permissions" as well. All is working now.

[2017-04-26 17:57] MiloslavKrejza opened #208 "I can't get token"
hello i can't get token from a database

What can i do to fix this?

[2017-04-27 13:30] georgeroberts1 opened #209 "Relatime spelling error"
11. Database Security Rules.
Underneath the first image... "Firebase Relatime database."

[2017-04-27 18:11] artavazdghazaryan commented on #12
Encountered the same error in emulator. Was very confused, because no changes were done and the code worked before. Restarted the emulator and SignIn worked as magic.

[2017-04-30 08:45] lzs15 commented on #186
Having this same issue. I believe it is preventing me from adding images.  It updates in the database, but crashes the app every time.

[2017-05-01 05:26] mieky opened #210 "Doc: storage.rules is referred to as a JSON file"
In "[Storage Security Rules (optional)](https://codelabs.developers.google.com/codelabs/firebase-web/#11)", storage.rules is referred to as a JSON file:

Which would be better without the word "JSON" removed, as that's not the case.

[2017-05-02 14:46] anevaude commented on #208
I am also having this issue. This comes up on Step 9 of the tutorial, right after you ask the user to accept notifications.

https://codelabs.developers.google.com/codelabs/firebase-web/#9

[2017-05-04 00:46] conradwt opened #211 "[Error][Step 08] Firebase Cloud Functions"
Hi, after deploying the cloud functions using `firebase deploy --only functions`, I'm seeing the following errors in the console for the application when I refresh the browser on step 8 of Firebase Cloud Functions:

[Error] Failed to load resource: the server responded with a status of 404 (HTTP/2.0 404) (init.js, line 0)
[Error] [DEFAULT]: Firebase: No Firebase App '[DEFAULT]' has been created -

[2017-05-04 07:41] nicolasgarnier commented on #211
Can you check that you have a file called `/__/firebase/init.js` being served? You need to be running `firebase serve` or deploy your app with `firebase deploy` to see it on your browser. If it;s there can you paste what's iniside that file here?

[2017-05-04 15:09] conradwt commented on #211
Here's the code for the project that one is asked to download in step 2 for this codelab:

[codelab code for starter project](https://github.com/firebase/friendlychat/tree/master/cloud-functions-start)

Next, there's no `init.js` file within the starter and completed code directories.  Furthermore, we are asked to deploy the web application in step 5 using `firebase deploy` and deploy the function

[2017-05-10 23:06] XphantasmaX commented on #51
It's not in the tutorial, but turns out that on step #9 you must add and "If" statement in the line where you index the friendlymessage:

[code]

[2017-05-10 23:15] pbusswood commented on #204
+1, noticed the same issue

[2017-05-14 12:11] csaron92 commented on #134
I had the same issue as some of the guys previously (sign-in button appears but the popup immediatly disappers) and the solution was to enable the authentication in Firebase Console.

[2017-05-18 13:00] surazzarus commented on #208
I am having the same problem. Could anyone find the solution for this? Thanks

[2017-05-18 17:03] w-a-n opened #212 "Cloud Functions for Firebase - pricing page link broken"
https://codelabs.developers.google.com/codelabs/firebase-cloud-functions/index.html?index=..%2F..%2Fio2017#9

"Pricing page" link at the bottom of the page is broken

[2017-05-18 20:37] TheBolmanator commented on #191
My observation is exactly the same as @ViabhavP17.

[2017-05-19 05:08] VaibhavP17 commented on #191
@nicolasgarnier I would also like to contribute to it. Guide me how to do that :)

[2017-05-19 20:46] MatteoNY opened #213 "Codelab out of date"
This is a cool project and I'd like it to work.
I've been using Firebase on other mini projects with success but simple compared with this Codelab so it would be great to have a working example using advanced features.
I followed the Codelab and when I got up to the ng build --prod --aot it could not find "AuthProviders, AuthMethods"
I did a Google search and other developers mentioned removing no

[2017-05-19 21:08] TheBolmanator commented on #191
Fresh today was a comment #213 opened 14 minutes ago by @MatteoNY requesting some "Updates" to the Codelab.  This would go farther than simply making a TS version of this code, and produce the same code via Angular.  I recommend we roll this issue into 213, provided this is accepted (one would hope that the fact that these are all Google technologies we should be inline with the intent of this eff

[2017-05-19 21:10] TheBolmanator commented on #213
Would you consider starting a fork for this to share where you are at so far?

[2017-05-19 22:44] mikeknapp commented on #184
I had this problem ("Insufficient permissions to configure a trigger") -- but the solution turned out to be something different entirely. The Google user I'm logged in as has access to multiple Google Cloud projects. I had to set the `project=` flag on the deploy command to get this to work!! Took hours of tearing my hair out to work it out.

[2017-05-19 23:18] MatteoNY commented on #213
I'd like to but next week on Monday.

Sent from my iPhone 6

On May 19, 2017, at 5:11 PM, Steve Bolman <notifications@github.com<mailto:notifications@github.com>> wrote:

Would you consider starting a fork for this to share where you are at so far?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/firebase/friendlychat/iss

[2017-05-21 19:16] nacojohn opened #214 "Use of Undefined variable: Uncaught TypeError"
Under Implementing Message Sending, this error is returned: "Uncaught TypeError: Cannot read property 'push' of undefined at FriendlyChat.saveMessage"

The issue is the use of: **this.messagesRef.push** INSTEAD OF **this.messageRef.push**

Best regard

[2017-05-23 01:31] Phantomphyre opened #215 "Bugzilla"

[2017-05-23 01:36] #215 closed

[2017-05-25 03:51] neilor opened #216 "Firebase-web Codelab down with 403 error"
When reading the [Cloud Functions Codelab](https://codelabs.developers.google.com/codelabs/firebase-cloud-functions) I've found an broken service that documentation means as [Firebase Web Codelab](https://codelabs.developers.google.com/codelabs/firebase-web). Can be found in The 0 Step at the first green box of tip.

https://codelabs.developers.google.com/codelabs/firebase-web

When try to access,

[2017-05-27 17:16] TheBolmanator commented on #213
In case anyone else finds this post with the same question as I did, (please see) `https://github.com/firebase/friendlychat/tree/master/cloud-functions-angular-start`  this was what I was after.

[2017-05-29 09:54] harshLFC commented on #69
Don't know

[2017-05-30 06:03] codesdk opened #217 "FIREBASE WARNING: Exception was thrown by user callback. TypeError: div.querySelector is not a function"
Am using firebase 3.9.0

==> firebase version
3.9.0

After following the steps till step7 here

https://codelabs.developers.google.com/codelabs/firebase-web/#7

Running the code in web, I get the following errors

`firebase.js:328 Uncaught TypeError: div.querySelector is not a function`

[code]

and the following warning

`FIREBASE WARNING: Exception was thrown by user callback. TypeError: div.que

[2017-06-01 14:20] kroikie commented on #216
Hi @neilor are you unable to clone the repository? What exactly is giving you the 403 error?

[2017-06-01 14:21] kroikie commented on #212
Hi @w-a-n this link seems to be working, so closing.

[2017-06-01 14:21] #212 closed

[2017-06-01 14:32] kroikie commented on #210
Thanks @mieky, updated.

[2017-06-01 14:32] #210 closed

[2017-06-01 14:35] kroikie commented on #209
@georgeroberts1 thanks, updated.

[2017-06-01 14:35] #209 closed

[2017-06-01 14:38] kroikie commented on #204
Thanks for the heads up @adegreiff and @pbusswood, updated.

[2017-06-01 14:38] #204 closed

[2017-06-01 14:39] kroikie commented on #203
Hi @leilaapsilva could you be more specific?

[2017-06-02 06:05] jalasem opened #219 "ES6 Version"
I will like to see what the firebase web codelabs looks like in es6. I am sure the community including me will love to learn from it

[2017-06-02 19:17] jameseraynor opened #220 "there is no sign in button in step 5"
hi,

in step 5 of the web tutorial (https://codelabs.developers.google.com/codelabs/firebase-web/#5) there is no sign in button to test if my changes are correct, see the code that they are hidden, but when I remove the hidden property nothing happens.

[2017-06-03 15:37] mccomasd opened #221 "tableView:cellForRow indexPath:" methods typo"
On part 6 (activate realtime database) of the firebase tutorial for swift there is a typo
` func tableView(_ tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell`

is supposed to be
` func tableView(_tableView: UITableView, cellForRowAt indexPath: IndexPath) -> UITableViewCell`

The space between `(_tableView: UITableView ` needed to be removed.

[2017-06-04 22:19] raviprasadmr commented on #134
After Step 10, I am totally stuck. No Sign-in button.

[2017-06-04 23:29] dustincmeyer commented on #220
@jameseraynor - I'm not sure if this will solve you're issue, but it did for me. I had accidentally created a second `initFirebase` method instead of *modifying* the first. My code looked as such:

[code]

In essence, my modified changes were replaced by the second (and empty) method that I should have implemented. Also, keeping your console open will help point out any other errors.

Best of luck

[2017-06-04 23:50] morganchen12 commented on #221
Removing the space results in a compiler error on Swift 3+. What version of Swift are you using?

[2017-06-04 23:50] #221 closed

[2017-06-05 17:54] oneezy opened #222 "cloud-functions-start (step 8): An unexpected error has occurred."
When trying to [Welcome New Users](https://codelabs.developers.google.com/codelabs/firebase-cloud-functions/#7) in Step 8 of the **cloud-functions-start** code lab, I'm getting an error after I run the following in the terminal:

**Command:**
[code]

**Output:**
[code]
---
Any idea what the problem could be?

[2017-06-05 18:21] oneezy opened #223 "CODE LABS REQUEST: Polymer 2.0 Friendly Chat (w/ polymerfire elements)"
I'd love to see this codelabs recreated with the Polymer 2.0 `<polymerfire>` elements.

Pretttty pleasssssse ;)

---

https://www.webcomponents.org/element/firebase/polymerfire

[2017-06-06 02:04] neilor commented on #216
Hi, I think that should be an little moment that firebase-web codelabs goes down. Because I've tested access firebase-cloud-functions codelabs at the same time and works fine.

Now is working fine! I hope that can close this issue.

[2017-06-06 05:04] jameseraynor commented on #220
it worked,  thanks

[2017-06-08 07:15] Krupen commented on #208
After spending lot of time, I found a solution. This is something that they din't put up in the documentation.

You need to add `firebase-messaging-sw.js` named file with following content to your root (/public) directory
`

    importScripts('https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js');
    importScripts('https://www.gstatic.com/firebasejs/4.1.1/firebase-messaging.js');
    importS

[2017-06-08 15:46] kroikie commented on #222
Hi @oneezy your deploy command looks fine, is this still a problem? I just want to confirm that it is not an issue on the server side that has been resolved and is something I need to look into further.

[2017-06-08 15:51] kroikie commented on #220
Thanks @jameseraynor and @dustincmeyer I'm closing this issue now.

[2017-06-08 15:51] #220 closed

[2017-06-11 15:16] TheBolmanator commented on #219
Please see the  [StackOverflow post](https://stackoverflow.com/questions/44311042/am-i-the-only-person-struggling-with-how-prototype-is-used-in-the-firebase-codel) and provide comments, I would support of this effort if we can find a way around the roadblocks that stopped me.

Specifically sharing AUTH data with the code running outside the prototype.  Of if someone could simply share why the enti

[2017-06-11 16:29] mismith commented on #222
I'm also experiencing this :(

[2017-06-11 20:56] atlurikamal opened #224 "Firebase Web Codelab"
I was going through the Firebase Web Codelab tutorial. At the 6th topic I should be able to see the Sign-In option in the app, But I couldn't.
Browser: Chrome
Browser version: 58.0.3029
I'm using a windows Laptop.
Here is the link to the topic at which I was getting error (https://codelabs.developers.google.com/codelabs/firebase-web/#5)

[2017-06-13 10:06] sohaeb opened #225 "Web completed code is empty"
https://github.com/firebase/friendlychat/blob/master/web/functions/index.js

[2017-06-13 11:42] nicolasgarnier commented on #225
Hey @sohaeb, this is the server side code for the follow-up codelab about Google Cloud Functions.

What you are looking for is here: https://github.com/firebase/friendlychat/blob/master/web/scripts/main.js :)

[2017-06-13 11:42] #225 closed

[2017-06-16 06:40] sohitvermamca opened #226 "Sign in problem in android device On step 6"
Google sign-in failed in SignInActivity.java onActivityResult method when the GoogleSignInResult getting back it is not successful. Please solve this issue.

[2017-06-18 09:59] raviprasadmr opened #228 "Is it possible to create sessions of this app for multiple game instances?"
Is it possible to create sessions of this app for multiple game instances? I am looking to have a chat functionality in a multiplayer game. For different games I need the instance of this chat with members of the game logged in. Is it possible?

[2017-06-18 15:06] nelsonwilliam11 opened #229 "how can i update firebase-messaging???"
my current version is 10.0.1 want to update it to 10.2.+ i couldn't find any way to update it

[2017-06-21 13:51] plthatfunkymusic commented on #26
Had the same problem, and the solution was to stop / restart the server "firebase serve", whereas previously throughout the sample code I was only reloading the web-page. HTH

[2017-06-27 14:46] mvallepintor commented on #224
I'm stuck at the same point.
Looks like .js is not activated, not called. Even when it's in my code...
@firebase-ops Could you please help us? Thanks in advance!

[2017-07-03 09:29] lukiee555 commented on #11
pkg: /data/local/tmp/com.google.firebase.udacity.friendlychat
Failure [INSTALL_FAILED_MEDIA_UNAVAILABLE]

[2017-07-05 13:58] dooferlad opened #230 "firebase --version, not firebase version"
Typo on https://codelabs.developers.google.com/codelabs/firebase-web/#3

[2017-07-05 16:23] nicolasgarnier commented on #230
Actually both should be working:

![image](https://user-images.githubusercontent.com/3766663/27874181-7b5ea99c-6163-11e7-8c18-933b6a4566ac.png)

Please re-open if you are getting any problems with that command.

[2017-07-05 16:23] #230 closed

[2017-07-06 17:35] RHieger opened #231 "Incorrect Syntax on Firebase Version Command"
I am now working through the Firebase Web Codelab and at [this page URL](https://codelabs.developers.google.com/codelabs/firebase-web/index.html?index=..%2F..%2Fio2017#3), the command syntax is listed improperly as:

`firebase version`

This throws an error of **Error: version** is not a Firebase command

On a hunch I tried the following syntax, which _does_ work:

`firebase --version`

[2017-07-07 01:45] arfirman1402 commented on #226
I still have same problem here. Whatever I running from android project or android-start project still have same problem. Please help us. Thank you Firebase.

[2017-07-07 18:15] nicolasgarnier commented on #228
Hey @raviprasadmr as you noticed this app is simplified to allow for a simpler instructional codelab. While it's certainly possible to enhance this chat app for multi-room you should have a look at [Firechat](https://firechat.firebaseapp.com/) which is a fully fledged Chat client using Firebase. It might be what you are looking for.

[2017-07-07 18:15] #228 closed

[2017-07-07 18:15] nicolasgarnier commented on #151
Closing since this has been awhile but please re-open if you still need assistance.

[2017-07-07 18:15] #151 closed

[2017-07-07 19:04] RHieger commented on #231
You’re quite welcome. I am currently learning Firebase and definitely thought you would want to know.

Thanks for correcting this.

On July 7, 2017 at 1:25:07 PM, Nicolas Garnier (notifications@github.com) wrote:

Closed #231.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-08 02:29] digitalblue commented on #186
I modified my code based on this thread https://stackoverflow.com/questions/41105586/android-firebase-tasksnapshot-method-should-only-be-accessed-within-privat

Changed the following for the putImageInStorage method. Hope that helps.
[code]

[2017-07-10 11:34] exmackina opened #232 "storage-rules.json instead of storage.rules"
storage-rules.json, wouldn't it be more consistent with database-rules.json ?
(instead of storage.rules)

[2017-07-10 18:26] nicolasgarnier commented on #232
It would indeed but that file is not JSON :)

[2017-07-10 18:26] #232 closed

[2017-07-19 15:10] nicolasgarnier commented on #229
Hey!

We've split up this repo in three. One for each platform. If your issue is still valid please reopen in the appropriate repo which are:

 - https://github.com/firebase/friendlychat-web
 - https://github.com/firebase/friendlychat-android
 - https://github.com/firebase/friendlychat-ios

[2017-07-19 15:10] #229 closed

[2017-07-19 15:12] #139 closed

[2017-07-19 15:12] nicolasgarnier commented on #118
Hey!

We've split up this repo in three. One for each platform. If your issue is still valid please reopen in the appropriate repo which are:

 - https://github.com/firebase/friendlychat-web
 - https://github.com/firebase/friendlychat-android
 - https://github.com/firebase/friendlychat-ios

[2017-07-19 15:12] #118 closed

[2017-07-19 15:15] ulukaya commented on #45
moved to https://github.com/firebase/friendlychat-ios/issues/1

[2017-07-19 15:15] #45 closed

[2017-07-19 15:16] ulukaya commented on #132
If the issue still exist please report at https://github.com/firebase/friendlychat-ios/issues

[2017-07-19 15:16] #132 closed

[2017-07-19 15:17] nicolasgarnier commented on #222
This issue was moved to firebase/friendlychat-android#1

[2017-07-19 15:18] ulukaya commented on #46
Moved to https://github.com/firebase/friendlychat-ios/issues/2

[2017-07-19 15:18] #46 closed

[2017-07-19 15:22] kroikie commented on #226
This issue was moved to firebase/friendlychat-android#2

[2017-07-19 15:22] #226 closed

[2017-07-19 15:23] kroikie commented on #216
This issue was moved to firebase/friendlychat-android#3

[2017-07-19 15:23] #216 closed

[2017-07-19 15:23] kroikie commented on #208
This issue was moved to firebase/friendlychat-android#4

[2017-07-19 15:24] #208 closed

[2017-07-19 15:24] #203 closed

[2017-07-19 15:25] kroikie commented on #186
This issue was moved to firebase/friendlychat-android#6

[2017-07-19 15:25] #186 closed

[2017-07-19 15:26] kroikie commented on #164
This issue was moved to firebase/friendlychat-android#7

[2017-07-19 15:26] #164 closed

[2017-07-19 15:28] kroikie commented on #159
This issue was moved to firebase/friendlychat-android#8

[2017-07-19 15:29] #159 closed

[2017-07-19 15:29] kroikie commented on #136
This issue was moved to firebase/friendlychat-android#9

[2017-07-19 15:30] #136 closed

[2017-07-19 15:30] kroikie commented on #130
This issue was moved to firebase/friendlychat-android#10

[2017-07-19 15:30] #130 closed

[2017-07-19 15:31] kroikie commented on #129
This issue was moved to firebase/friendlychat-android#11

[2017-07-19 15:31] kroikie commented on #128
This issue was moved to firebase/friendlychat-android#12

[2017-07-19 15:31] kroikie commented on #127
This issue was moved to firebase/friendlychat-android#13

[2017-07-19 15:32] #129 closed

[2017-07-19 15:32] #128 closed

[2017-07-19 15:32] #127 closed

[2017-07-19 15:33] kroikie commented on #85
This issue was moved to firebase/friendlychat-android#14

[2017-07-19 15:33] kroikie commented on #82
This issue was moved to firebase/friendlychat-android#15

[2017-07-19 15:33] kroikie commented on #78
This issue was moved to firebase/friendlychat-android#16

[2017-07-19 15:33] #85 closed

[2017-07-19 15:33] #82 closed

[2017-07-19 15:33] #78 closed

[2017-07-19 15:34] kroikie commented on #69
This issue was moved to firebase/friendlychat-android#17

[2017-07-19 15:34] #69 closed

[2017-07-19 15:34] kroikie commented on #51
This issue was moved to firebase/friendlychat-android#18

[2017-07-19 15:35] kroikie commented on #52
This issue was moved to firebase/friendlychat-android#19

[2017-07-19 15:35] #52 closed

[2017-07-19 15:36] #51 closed

[2017-07-25 17:11] jenperson opened #233 "Using .onCreate"
For step 10, can we change it to user .onCreate() instead of .onWrite() so that we don't need to check for previous data?

[2017-07-31 07:38] oodavid opened #234 "Steps 6,7,8 > Best Practices > Add `functions` to firebase.json"
These steps infer that the functions must be managed independently of the root directory (by way of `cd functions`). As a new user I may not realise that I can deploy these functions in the parent directory, nor that the name of the `functions/` directory is reserved / special.

A better approach may be:

1. Explain the relationship of the `functions/` directory (sample text below)
1. Explain that

[2017-07-31 08:01] oodavid opened #235 "Step 9 > vision.detectSafeSearch is not a function (solution)"
### Issue

In my **Firebase > Functions > Logs** I see `TypeError: vision.detectSafeSearch is not a function` when executing `blurOffensiveImages`

### Cause

The `vision` npm package installed at the time of writing is newer, and must have a different interface. My installed version is `0.12.0`

### Solution (hack)

Downgrade the vision package to match the example final project, ie: `0.7.1`

###

[2017-08-05 04:53] KairusDarkSeeker commented on #134
@ayushdev The only solution for this is to not enable URL the single-app page option during init

Just like the options I chose shown on this photo:
![Options](https://i.imgur.com/CYNDHwS.jpg)

[2017-08-08 20:15] words2708 commented on #224
I saw this as well...however I changed the index.html lines 64 through 69 to have buttons unhidden i.e.:
...

64:<button id="sign-out" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
65:Sign-out
66:</button>
67:<button id="sign-in" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
68:<i class="material-icons">account_circle</i>Sign-in with Go

[2017-08-08 20:17] words2708 commented on #224
Thanks for the tutorial. went on smoothly except for this change on my end. if you could update the step 5 user sign in to change index.html or upload an updated index.html that be great.

[2017-08-10 00:10] nicolasgarnier commented on #235
Thanks for the heads up @oodavid
Fixed in ec1c77a

[2017-08-10 00:10] #235 closed

[2017-08-11 17:46] davidwparker commented on #30
@srinathh - yes, it will still be an issue. And @bojeil-google - after just looking at this tutorial, I think it should be updated to say it will be an issue...

[2017-08-11 20:41] bojeil-google commented on #30
We had added some documentation on auth state persistence: https://firebase.google.com/docs/auth/web/auth-state-persistence It also explains that Firebase sessions are single host origin.

[2017-08-11 22:15] davidwparker commented on #30
@bojeil-google - thanks I must have missed it! 🥇

[2017-08-11 22:28] bojeil-google commented on #30
We added this recently :)

[2017-08-15 14:41] nebrelbug opened #237 "Firebase CLI 3.9.1 firebase use --add not working"
In the Firebase FriendlyChat Demo, the below error occurs:

C:\Users\nebre\friendlychat-web\web-start>firebase use --add
? Which project do you want to add? project
? What alias do you want to use for this project? (e.g. staging) messaging

Created alias messaging for project.
Now using alias messaging (project)

However, it doesn't modify the index.html file at all. I'm not sure if I'm doing some

[2017-08-15 14:59] nicolasgarnier commented on #237
this is only meant to connect the CLI and the code to a Firebase project which you have created on the Firebase app console. This way the CLI knows where to deploy your code, which Firebase Database to use etc...  This won't modify the index.html

Is there a specific reason why you thought this would modify the index.html? (I'm just asking in case I can make the codelab instructions more clear :)

[2017-08-15 15:14] nebrelbug commented on #237
Thanks for the clarification! In chapter 6, it says: "The Firebase SDK should be ready to use since you have imported and initialized it in the index.html file." When I opened up the test, it displayed an alert saying that I had not initialized the SDK. I think I actually hadn't re-served it, but I assumed that the initialization script should show up. Thanks so much again!

[2017-08-15 15:19] nicolasgarnier commented on #237
Indeed I'll change the wording here,. In the past you'd have to modify the `index.html` by hand and we forgot to update this. Nowadays the firebase CLI/hosting serves a special file at the URL `/__/firebase/init.js` which is automatically updated with your project configuration.

Thanks for the help and sorry about that!

Thanks for helping out!

[2017-08-15 15:21] #237 closed

[2017-08-15 18:57] erfe1 commented on #237
في الواقع سوف تغيير الصياغة هنا،. في الماضي كان لديك لتعديل index.htmlباليد ونسينا لتحديث هذا. في الوقت الحاضر فيليبيس كلي / استضافة يخدم ملف خاص في ورل /__/firebase/init.jsالذي يتم تحديثه تلقائيا مع تكوين المشروع الخاص بك.

شكرا للمساعدة و نعتذر عن ذلك!

[2017-08-20 14:19] idofl opened #238 "Getting an error: can't resolve '@angular/cdk' in ..."
In step 6, running "ng build" fails with the above mentioned error.

Managed to resolve this by running:
npm install --save @angular/cdk

(or alternatively, update package.json)

[2017-08-20 14:20] idofl commented on #238
This is a breaking change in @angular/material 2.0.0 beta 8 (code last updated to 2.0.0 beta 2)

[2017-08-22 15:42] icreatevisions opened #239 "Step 9 Issues with Cloud Storage"
I am having a problem with step 9 of the firebase web code lab. I have followed the code correctly and have been able to get everything working up to this point.

With step 9 after I select the image I want to post in the chat I get an error stating "TypeError: undefined is not an object (evaluating 'this.storage.ref'). The image does not upload to firebase nor show on the screen.

Does anyone hav

[2017-08-22 16:16] icreatevisions commented on #54
Do you remember what your issue was and how you fixed it?

[2017-08-22 16:58] icreatevisions commented on #239
I had a '/' in my storage url

[2017-08-22 16:58] #239 closed

[2017-08-22 21:08] getzdan opened #240 "Vision API call with wrong function name"
In Step 9, the code includes a call to the Vision API, in the code it is `vision.detectSafeSearch`.
The correct function name is `vision.safeSearchDetection`.
This call appears in the code once in the `cloud-functions-angular` directory, but it also appears in the instructions.

A simple rename fixes the issue.

[2017-08-28 18:49] priyeshgpatel commented on #184
thanks @mikeknapp , adding "--project=" worked for me!

[2017-08-29 10:34] welcomedk commented on #195
Hi  @kroikie and @somombo , Can you please let me know how can I implement the" is typing " in ionic3 and Angular Firebase please?

[2017-08-30 13:50] mohaemen commented on #12
These comments saved my day!

[2017-09-01 03:27] PrajeetShrestha commented on #200
Same problem still :)

[2017-09-04 01:27] DeeVine opened #241 "step 5 doesn't work with firebase version 3.10.0"
I kept getting the error "Unable to authorize access to project" after making sure I was logged in and  selecting the project with firebase --add.

Once I reverted to an older version of firebase 3.9.0 everything worked as expected.

[2017-09-04 05:24] nvdhunter commented on #241
I Found the answer https://stackoverflow.com/a/45333192/8556970

[2017-09-04 21:23] abrahamjsb commented on #241
Same issue around here.. When I runned *firebase serve* returned me:
`Error: Unable to authorize access to project project-alias`

[2017-09-05 20:24] WolfVic commented on #241
I have the same issue after deploy the project...

[2017-09-05 20:37] abrahamjsb commented on #241
I solved with **firebase init** without overwrite the init files and done!

[2017-09-06 10:54] animeshk874 commented on #241
As @nvdhunter already mentioned, you can try
`firebase serve --project projectID`

To get the projectID, type
`firebase list`

[2017-09-07 18:59] shock-wave007 commented on #241
i still cant get it right.
"Welcome

Firebase Hosting Setup Complete

You're seeing this because you've successfully setup Firebase Hosting. Now it's time to go build something extraordinary!"

please tell what to overwrite and other options, its like i have tryd for 10s of time but failed.

[2017-09-07 22:46] Gsaico commented on #74
I have the same problem

**F:\ProyectosFirebase\friendlychat\web-start>npm  install firebase-tools**

npm WARN deprecated node-uuid@1.4.8: Use uuid module instead
npm WARN prefer global firebase-tools@3.10.0 should be installed with -g
friendlychat-codelab@ F:\ProyectosFirebase\friendlychat\web-start
`-- firebase-tools@3.10.0

npm WARN friendlychat-codelab@ No repository field.
npm WARN friendlych

[2017-09-08 11:56] jwilleke commented on #241
Worked for me but still people should not need to go here to find this workaround.
This is a bug that should be addressed in the Codelab.

[2017-09-08 12:05] shock-wave007 commented on #241
simplest way to get this, type the following command in terminal without quotes
prerequisite
1."npm -g install firebase-tools"
2."firebase --version"Make sure the Firebase version is above 3.3.0
steps
1. creat a folder
2.open terminal on new folder address
3."firebase login" login firebase(skip if already login)
4."firebase use --add"
5."firebase init" follow the steps yes in all and when ask for

[2017-09-08 12:20] jwilleke opened #242 "[STEP 6] Repeating Sign-Out then Sign-In does not update."
The first Sign-in works as expected.
The first sign-out works.
Trying sign-in a gain, presents blank dialog which closes but the "SIGN-IN WITH GOOGLE" does not change and no visible means (or logs I could find) shows if the user is logged-in or out.

[2017-09-08 12:23] jwilleke commented on #242
Stupid me. Nevermind.

[2017-09-08 12:23] #242 closed

[2017-09-08 13:15] jwilleke commented on #241
Still a workaround to a bug. (ie codelab is broken)
Expecting someone, just learning to even find this page is asking a lot. Many people would just quit and give up on firebase.

[2017-09-08 21:51] nicolasgarnier commented on #241
@mbleigh looks like lots of people are facing an auth issue with the latest firebase tools. i.e. getting an auth error when doing `firebase serve` just after doing `firebase login` and `firebase add`. This may be an issue with `firebase-tools` rather than the codelab (since it's working fine with v 3.3.0 of the CLI).

(please also look at the last comment in #74 which has the step-by-step repro)

[2017-09-08 22:15] nicolasgarnier commented on #241
Or please try to run: `firebase login --reauth` and let us know if this works for you please

[2017-09-08 22:19] jwilleke commented on #241
jmac:functions jim$ firebase deploy --only functions

Error: Unable to authorize access to project staging
jmac:functions jim$ firebase logout
✔  Logged out from jim@willeke.com
jmac:functions jim$ firebase login
? Allow Firebase to collect anonymous CLI usage information? Yes

Visit this URL on any device to log in:
https://accounts.google.com/o/oauth2/auth?.....

Waiting for authentication...

✔

[2017-09-08 22:20] DeeVine commented on #241
@nicolasgarnier

firebase login --reauth doesn't solve the problem
firebase serve --project projectID mentioned by @WolfVic is a working solution

[2017-09-08 22:28] nicolasgarnier commented on #241
Thanks all!

I can definitely repro the issue with the Firebase CLI v 3.10:

![image](https://user-images.githubusercontent.com/3766663/30233413-618404f0-94ed-11e7-8422-a712a630f337.png)

[2017-09-08 22:34] nicolasgarnier commented on #241
@mbleigh it looks like the bug is that the Firebase CLI is trying to use the alias used in `firebase use` as the ID of the project to serve. See abode: it's trying to serve a project called `staging` instead of `friendlychat-1234`.

Actually if you use a real project ID as the alias it works:

![image](https://user-images.githubusercontent.com/3766663/30233558-30956c52-94ee-11e7-87a8-db6c84202bb7.

[2017-09-08 22:46] nicolasgarnier commented on #241
@mbleigh is working on fixing `firebase-tools`. I'm guessing a new build will be out shortly (probably 3.10.1) with the fix.

[2017-09-08 23:29] nicolasgarnier commented on #241
It's out!

https://www.npmjs.com/package/firebase-tools

Please run `npm install -g firebase-tools` to update to the latest version of the Firebase CLI and try the codelab again. This should work:

![image](https://user-images.githubusercontent.com/3766663/30234535-eb902edc-94f5-11e7-9766-4df51166778f.png)

Thanks all for reporting this!

[2017-09-08 23:29] #241 closed

[2017-09-15 03:15] jgransky commented on #134
I had this issue too but just resolved it. The two things I did were (1) enable the Google Identity Toolkit (https://console.developers.google.com/apis/api/identitytoolkit.googleapis.com/overview?project=xxxxx where xxxxx is the specific project number), and (2) run `firebase init` in the project folder. Not sure which of those two was responsible for fixing it, but now it works.

[2017-09-15 12:16] nicolasgarnier commented on #240
Fixed in https://github.com/firebase/friendlychat-web/commit/ec1c77aa59c6125ec0375137c5fc024c7c028059! thanks for the report @getzdan !

[2017-09-15 12:16] #240 closed

[2017-09-15 12:16] NAakshay opened #243 "10. Show Notifications - not getting any notification"
I followed each step and checked twice but don't know why I'm not getting any notification.

[2017-09-24 05:42] fahakhan opened #244 "Login popup is not working just open and disappear [user sign in step 6]"
i have done all the 5 step and that is work fine but when i implement  User Sign in
Failed to load  www.googleapi.com/..../..../       resource: the server responded with a status of 403 ()

![error](https://user-images.githubusercontent.com/17279304/30779828-f13a3348-a114-11e7-8050-72ddd94125a3.PNG)

[2017-09-26 21:07] gauntface opened #245 "Unable to get token."
Please see: https://github.com/firebase/quickstart-js/issues/150#issuecomment-331041733

[2017-09-27 09:51] nicolasgarnier commented on #245
@reyou You are supposed to be creating this file. See the codelabs instructions:

Have you created the file?

[2017-09-27 13:31] reyou commented on #245
@nicolasgarnier you are totally right, once I copied firebase-messaging-sw.js from example docs into my working directory root, it worked. It was my mistake, sorry for wrong alarm.

[2017-09-27 17:12] nicolasgarnier commented on #245
No worries! I'm glad you got this sorted :)

[2017-09-27 17:12] #245 closed

[2017-10-11 22:51] gabrielsr commented on #238
#249  fix this issue

[2017-10-12 20:58] #238 closed

[2017-10-12 22:51] hotnuts21 commented on #200
I think this is the page you are looking for
https://codelabs.developers.google.com/codelabs/firebase-web/#1

[2017-10-15 23:47] kalvinfromcode commented on #244
I believe signInWithPopup no longer works. I replaced signInWithPopup with signInWithRedirect and it worked. Even the Firebase docs replaced signInWithPopup with signInWithRedirect

[2017-10-24 17:19] kevando commented on #222
try running with --debug

https://github.com/firebase/firebase-tools/issues/356

I came across the same issue and found it was because I had Node 8.0.0

I used nvm to upgrade to 8.1.0 and opened a new terminal window and it appears to have worked..

Might break other shit that depends on node 8.0.0 but we shall see..

[2017-10-31 13:28] mpoehler opened #250 "In Step 5 - posting of images doesn't work"
When you create a new project as suggested in step3, the storage is not enabled and the codelab doesn't tell you to do so. If the storage is not enabled, the line "Sign-in to the app by using the SIGN-IN WITH GOOGLE button and feel free to add some messages **and post images**" will not work.

There is a hint missing in step 3 that you need to enable storage.

[2017-10-31 15:47] nicolasgarnier commented on #250
YEs thanks! (looks like the initialization flow for storage changed). I've added a step to enable Cloud Storage on the project (by visiting the **Storage** section).

[2017-10-31 15:47] #250 closed

[2017-11-06 17:13] nicolasgarnier commented on #243
Please re-open if you are still having issues :)

[2017-11-06 17:13] #243 closed

[2017-11-06 17:19] #233 closed

[2017-11-06 17:19] nicolasgarnier commented on #233
Fixed! Thanks @jenperson

[2017-11-06 20:35] nicolasgarnier commented on #60
@ziosmobile looks like your issue relates to the iOS codelab. Make sure to file it here: https://github.com/firebase/friendlychat-web

Cheers!

[2017-11-06 20:35] #60 closed

[2017-11-06 20:43] nicolasgarnier commented on #219
We chose ES5 for backward compatibility as the Firebase SDK supports older browsers that do not support ES6 natively too (And we wanted to avoid having to transpile the code back to ES5).

@TheBolmanator > The tutorial uses pretty common (IMO) pattern to do Object Oriented Programming in ES5.

Just FYI the following code that we use in ES5:

[code]

Would translate to the following, more modern, E

[2017-11-06 20:43] #219 closed

[2017-11-06 20:46] nicolasgarnier commented on #200
It looks like we meant to have this codelab at some point.

@jmdobry could you have a look? Maybe remove the broken link in the mean time?

[2017-11-06 20:47] nicolasgarnier commented on #198
@jmdobry could you have a look?

[2017-11-06 20:48] nicolasgarnier commented on #197
@jmdobry Could you have a look?

[2017-11-06 20:50] #184 closed

[2017-11-06 20:50] nicolasgarnier commented on #213
@jmdobry Could you have a look?

[2017-11-06 20:57] nicolasgarnier commented on #211
The `/__/firebase/init.js` files are not checked-in and part oft he repo. They are automatically available when you serve the code of you project locally with `firebase serve` and when deploying your project using Firebase hosting after a `firebase deploy`. Here is an example on my project: https://friendlychat-1234.firebaseapp.com/__/firebase/init.js

Could you point to the project where you are

[2017-11-06 21:03] nicolasgarnier commented on #74
OK this was an issue with firebase-tools 3.10.0 which got fixed in 3.10.1 where firebase tools was using the alias name instead of the project ID.

[2017-11-06 21:03] #74 closed

[2017-11-09 18:21] nicolasgarnier commented on #222
:+1: @kevando There was an issue with backward compatibility in Node 8.0.0 in particular which got fixed in 8.1.0.

Currently it's best to use 6.x.x latest when using Google Cloud Functions as this is what is supported and runs on prod. I with the latest Firebase CLI you should now get a warning about this when trying to run `firebase serve`

[2017-11-09 18:21] #222 closed

[2017-11-09 18:28] nicolasgarnier commented on #224
Normally you shouldn't have to remove the `hidden` fro the button manually. There is a piece of code which does this automatically depending on the Firebase auth state. See:

[web-start/scripts/main.js - Lines 150-151](https://github.com/firebase/friendlychat-web/blob/master/web-start/scripts/main.js#L150-L151)

[code]

Please have a look at your JS console to see if there is an error instead.
If

[2017-11-09 18:28] #224 closed

[2017-11-09 18:52] nicolasgarnier commented on #214
It looks to me that `this.messagesRef` is used throughout (in the code and in the codelab instructions). Maybe we fixed it since you filed this bug but if you still see these please re-open and point me to where these issues are.

[2017-11-09 18:52] #214 closed

[2017-11-09 23:49] drewswaycool commented on #175
FYI, this typo still exists.

[2017-11-09 23:51] nicolasgarnier commented on #175
Thanks @drewswaycool ! Just fixed and re-published.

[2017-11-10 16:20] MasonP57 commented on #30
I am also getting this issue. Using Chromium on Ubuntu, 3rd party cookies are not disabled/prevented. Firebase v3.14.

When I click sign-in a new window is opened up and then closes immediately (doesn't even load a white background). I pulled the repo and started going through the steps from CodeLab about 30 minutes ago.

[2017-11-11 12:21] davisbra opened #251 "database rule low security"
if one of the users inspect element this app from chrome and change push to set ( in saveMessage function) all the messages will remove and only new record will added .I change database rule to prevent this situation but I can find a efficient way to solve this problem.please help me how to solve this?

[2017-11-19 18:07] Ashan-FCC opened #252 "[STEP-6] Google Identity Toolkit API has not been used in project"
When I click sign in, It throws an error and is returned to the same page.
Console has an error message saying to activate the Identity Toolkit API at

[2017-11-19 18:09] Ashan-FCC commented on #252
You can activate the Identity Toolkit API from this link. replace <project-id> with your project id. It is something like friendlychat-1234d
https://console.developers.google.com/apis/library/identitytoolkit.googleapis.com/?project=<project-id>

[2017-11-21 04:00] kavaskar opened #253 "Step 8 Error occurred while parsing your function triggers."
Error: Error occurred while parsing your function triggers.

/private/var/folders/g9/f487vmzs5s30bg_g1_x2z4hm0000gn/T/fbfn_1672bHPIjYDuzY4c/index.js:1
(function (exports, require, module, __filename, __dirname) { import { event } from 'firebase-functions/lib/providers/analytics';
                                                              ^^^^^^
SyntaxError: Unexpected token import
    at create

[2017-11-21 04:27] #253 closed

[2017-11-21 04:35] kavaskar commented on #253
mistake on my in. Included modules thats not being used

[2017-11-23 09:38] softcontext opened #254 "firebase-web > #5 Sign-in > Not working on chrome but firefox"
I got error message:

[code]

What is wrong? Let's take a look error message.
`message: "A network error (such as timeout, interrupted connection or unreachable host) has occurred."`

I have no idea how to solve this. so, googling and find a issue.

https://github.com/angular/angularfire2/issues/581

After reading issue, I know that it's ok on firefox.

firefox is better than chrome?

I can't beli

[2017-11-24 16:42] madrigal1 opened #255 "unable to find firebase.js unable to find pi"
![capture](https://user-images.githubusercontent.com/30615210/33218726-77046500-d164-11e7-8403-14cdc06774fb.JPG)
I have  repeatedly done this part of the tutorial and have followed the instructions to boot The above appears to be an error from your side

[2017-11-24 16:49] madrigal1 commented on #255
#244 appears to fix the pi error.
yet the following error remains
![capture](https://user-images.githubusercontent.com/30615210/33218922-83a22792-d165-11e7-9a6d-56a92a5e0290.JPG)

[2017-11-24 22:28] nicolasgarnier commented on #255
It looks like you are opening the File directly using the browser in the local file path. Instead you need to run `firebase serve`,  this starts a web server and you can access your project using http://loclahost:5000/

[2017-11-24 22:28] #255 closed

[2017-11-25 08:46] madrigal1 commented on #255
Ah i see :-( my bad
Thanks for your quick reply

[2017-11-30 05:53] amjayesh07 opened #256 "Also need to add about how to add user & how can they chat ?"

[2017-12-25 01:59] nicolasgarnier commented on #252
Thanks @Ashan-FCC,

Strange, the Google Identity Toolkit API should have been automatically enabled on your project. If you see this error feel free to create a new Firebase project, or enable manually as you've done :)

[2017-12-25 01:59] #252 closed

[2017-12-26 17:25] mrseanbaines opened #258 "Grammatical error in lesson 6"
On this page https://codelabs.developers.google.com/codelabs/firebase-web/#5 there is a redundant "it":

[2017-12-26 19:25] craigfisk opened #259 "#9 of Cloud Functions for Firebase codelab: typo"
"This will install the three packages locally and add them as declared dependencies in your package.js file."
// "package.js" > "package.json"
on https://codelabs.developers.google.com/codelabs/firebase-cloud-functions/#8

[2017-12-26 20:00] KingOfThePirates opened #260 "How to send an HTTP request "curl: (6) Could not resolve host" on Windows"
The [Firebase Web Codelab](https://codelabs.developers.google.com/codelabs/firebase-web/) was essential for me to learn how to use Firebase. I wouldn't be able to do something simple like hosting JavaScript libraries in Firebase without it.

I'm spending the time to write this in hopes it helps someone down the line. I hope this is the appropriate place for this post.

### Problem

I ran into this

[2018-01-08 04:24] BhanuPrakashCh opened #262 "Sign-in Issue in Step5"
At Step 5, I was facing the issue with User Sign-in, where after clicking on Sign-in button and selecting the Google Account, it was neither redirecting nor authenticating. Can you please help me on this?

[2018-01-12 16:56] Tuannvd00538 commented on #26
Cool! Thanks you

[2018-01-12 18:19] neerajraghuwanshi commented on #134
same problem i have (In step 7, I edited the code as instructed in the tutorial. But after opening the app, the sign-in popup doesn't appear. Also, after opening the app, the sign-in button doesn't appear.)
errors;::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
firebase-auth.js:332 Uncaught Error: Ca

[2018-01-17 07:51] rohit75 commented on #74
run > firebase add (Inside Project folder)
? Which project do you want to add? <Specify your project id>
? What alias do you want to use for this project? (e.g. staging)<u can specify development>
You can change alias in future
here is the link- https://firebase.google.com/docs/cli/

[2018-01-21 19:59] GM-WEBDESIGN opened #263 "0"

[2018-01-22 18:31] #263 closed

[2018-01-22 18:59] djmailhot opened #264 "'firebase --version' shows version of firebase-tools, not firebase"
From the [codelab](https://codelabs.developers.google.com/codelabs/firebase-web/#3):  "Make sure `firebase --version` is above 3.3.0"

When I run it:
`$firebase --version`
`3.17.3`

This turns out to be the package version of [firebase-tools](https://www.npmjs.com/package/firebase-tools), not [firebase](https://www.npmjs.com/package/firebase) (as of 2018/01/22)

Perhaps they changed the firebase C

[2018-01-28 18:16] pdmshrestha commented on #252
Hi, I get this error only on local emulator. But if I initialize the `firebase-admin`  with `serviceAccount.json`. I don't get this error.

[code]
This works on both emulator and on firebase server

[code]
This won't work on emulator but works on firebase server. I tried both way.

If anyone has the solution please let me know.

[2018-02-20 02:07] AngryDrunkard opened #265 "403 Disallowed user agent from iOS device"
I completed the entire codelab with no issues. Good job on the tutorial, I felt I learned a lot. While attempting to talk to myself from various devices I tried using my iPhone. When I attempted to authenticate from the phone I receive a 403 disallowed user agent error, I receive the same error when using an iPad. I did some searching on the issue but was not able to determine if this is actually

[2018-03-19 20:52] apsrcreatix commented on #217
Hey friend,
If you are using functions option provided by firebase then check the functions log.There you may find the root of this problem.I am not sure that this the main problem with it but I am getting the same problem. It happened after so many requests made to the server provided for function.
If you come to the solution please let me know too.
Thanks,
Aditya Rajput

[2018-03-28 11:25] tomcatbuzz opened #266 "This App is broken at the log in"
I am not sure why this is being maintained here when there is no issues being fixed. This is broken in step 5
and won't show a log in button. Pointless to learn if it don't work. Files are miss matched from Web-start and Web (final).

[2018-03-28 13:09] nicolasgarnier commented on #264
Thanks! the wording was not correct. we indeed want to check for the firebase-tools version. I'll update that.

[2018-03-28 13:09] #264 closed

[2018-03-28 13:44] nicolasgarnier commented on #266
Hey @tomcatbuzz, sorry this is not working for you. Normally this codelab should be entirely functional. Can you please give specifics of what's not working for you? I'm sure we can figure it out :)

[2018-03-29 00:36] tomcatbuzz commented on #266
I apologize, I performed further troubleshooting. I had originally started this project some time ago. When I returned to  the tutorial it had put me where I left off. So I just backed up to the code editing parts, where most mistakes are made, and I had missed a bracket after the check if signed in function. The previous code TODOs had the bracket already there.

[2018-03-29 00:36] #266 closed

[2018-04-02 18:31] bobbydreamer opened #267 "Add additional instruction in section (13. Deploy your app using Firebase static hosting)"
Hi,

You can add additional instruction in section(13. Deploy your app using Firebase static hosting) before issuing cmd(firebase deploy) to stop (firebase serve) if it is running. I encountered an issue when i have firebase server running in one window and i was not able to deploy. I was getting below error message and there was not explanation why it occurred.

i  functions: preparing functions

[2018-04-05 04:27] PatNeedham commented on #235
@nicolasgarnier can you also update the [Content Moderation article](https://firebase.googleblog.com/2017/06/content-moderation-with-cloud-functions.html) to reflect the cloud vision SDK upgrade?

[2018-04-05 18:33] tkottke90 opened #269 "[Error] Firebase Deploy blocked by Firebase-Debug.log permissions"
Hey All,

**Browser:** Chrome, Firefox
**OS:** Windows 10
**IDE:** VSCode

**Steps to reproduce:**
1) Follow [Firebase Web CodeLab](https://codelabs.developers.google.com/codelabs/firebase-web/#12) to step 13
2) Per the instructions in step 13, run:
` firebase deploy `
3) All steps in deploy process are successful except deploying to firebase when I get this error:

[2018-04-05T17:53:21.075Z] Erro

[2018-04-05 22:27] nicolasgarnier commented on #269
@tkottke90 not sure what's the cause of your issue but it may be related to this issue: https://github.com/npm/npm/issues/17747

You could try the solutions they talk about towards the end. e.g.:

After executing "npm install scandir -g" like @micsel suggested.
Thanks @micsel.

I'd upgrade NPM and upgrade Node.

[2018-04-05 22:27] #269 closed

[2018-04-14 20:10] israeleriston opened #270 "Error with donwload imagens of storage"
Hello guys

i'am have problem with donwload imagens of storage the firebase

desclaimer

my rules
`service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
`

gist the example
https://gist.github.com/israeleriston/df0706018c5d9a7b6e137ea1e3ab3d06
harded code, example of downlod imagens

path's of imagens into storag

[2018-04-15 18:43] nicolasgarnier commented on #270
To help you out we'll need more detail about your issue: What's the error message, what's not working and what were you expecting.

Also, it looks like this is not about friendlyChat which is our Codelab. For general purpose help please post on StackOverflow instead: stackoverflow.com

[2018-04-15 18:43] #270 closed

[2018-04-16 02:08] pablovilla83 opened #271 "Cannot read property 'authDomain' of undefined"
This happened on Step 10 "New Message Notifications" from the Cloud Functions for Firebase codelab. The error logged from the 'sendNotification' Cloud Function as follows:

sendNotifications | TypeError: Cannot read property 'authDomain' of undefined at exports.sendNotifications.functions.database.ref.onCreate.snapshot (/user_code/index.js:106:58) at Object.<anonymous> (/user_code/node_modules/fir

[2018-04-16 08:01] #271 closed

[2018-04-16 08:02] nicolasgarnier commented on #271
Thanks Pablo. Indeed I forgot to change this. `functions.config().firebase` is gone in the latest version of the SDK.

[2018-04-17 17:54] Caio-Rezende opened #272 "Stalled in Step 7"
Issue loading the messages, the request loading them never returns, it stalls...

[2018-04-17 18:27] Caio-Rezende commented on #272
it happens that reading the friendlychat-android issues I found a similar stalling in Step 7, and it suggests the checking of the rules settings, supposedly in Step 6. In this friendlychat-web codelab, it is not there any reference in Step 6 to rules... changing the settings of the database from private to public solved my issue, allowing me to continue. I'll further read the docs on the rules to

[2018-04-17 18:27] #272 closed

[2018-04-20 03:57] polen-chheang-dmi opened #275 "Step 9 Pass in User not Event"
Step 9 index.js

`exports.addWelcomeMessages = functions.auth.user().onCreate((event) => {
  const user = event.data;`

Should be replace with:

`exports.addWelcomeMessages = functions.auth.user().onCreate((user) => {`

Reference https://firebase.google.com/docs/auth/extend-with-functions#trigger_a_function_on_user_creation

[2018-04-20 09:34] nicolasgarnier commented on #275
@polen-chheang-dmi could you tell me where you see this? I don't see any issues with https://codelabs.developers.google.com/codelabs/firebase-cloud-functions/#7

[2018-04-21 05:21] danrye opened #276 "Step 12 seems to be missing parts 3 & 4"
3. In the Angular app, change the font and boldness of new messages based on their sentiment.
4. Also in the Angular app, display a list of recently discussed topics as new messages are added.

[2018-04-23 02:33] polen-chheang-dmi commented on #275
Hi @nicolasgarnier, Yes, it was updated. I am not sure when the update happen but while i am practicing the codelab, **event** is passed to onCreate instead of User.
I close this issue, Thanks for response. Cheer!

[2018-04-23 02:33] #275 closed

[2018-04-26 20:15] Janelgr5 commented on #262
I am having the same issue and posted the question on their slack channel. If I get a response I'll post it here.

[2018-05-10 03:38] Erica42 commented on #272
Thank you for the note about changing from private to public. I was having the same issue and this worked for me.

[2018-05-16 07:35] C-Pro commented on #262
Same thing here. After clicking on SIGN-IN WITH GOOGLE, I get the following error response:
[code]
In firebase console I have enabled Google Auth provider and there is regal-sun-144102.firebaseapp.com
domain listed below in the authorized domains list.

[2018-05-16 10:11] nicolasgarnier commented on #262
Normally the API referrer restriction is automatically configured at project creation time.

I'm guessing something wrong happened when your Firebase project was created (I've seen some rare occurrence of that) and not everything was initialized correctly.

Could you please try creating a new Firebase project and re-configuring your CLI for it? `firebase use --add`

[2018-05-16 11:36] CodingDoug opened #278 "Database setup and default rules have changed, requires updates"
The codelab doesn't yet address the new setup of the database in the console.  The console now requires you to:

1. First select if you want to use Realtime Database or Firestore.
2. After choosing Realtime Database, which default rules you want to use (either fully open or fully locked).

This impacts not only setup, but also step 11 which claims that the default rules require auth.  This is no l

[2018-05-18 02:43] kylejsarte commented on #278
Agreed. For any absolute beginners (such as myself) who are having issues getting the messages to update after completing step **_7. Read messages_**, you will need to make changes to your _Database > Rules_ as CodingDoug mentions above and set your _.read_ and _.write_ properties to _true_.

[2018-05-18 19:54] vsoch commented on #278
+1 to this issue! I am a first time user of Firebase and trying to figure out if I want to start in Locked mode (or not). What seems to be the case is that this setting is creating a Database "Rule" that is defined in the Database --> Rules tab. I started in test mode, and then browsed to this tab to change to only allow write for logged in users:

[code]
I don't think this is ideal still, but it'

[2018-05-22 01:48] CJohnDesign opened #279 "Would changing the name of the project effect accessing the database in step 7?"
I changed the name of this from the start because I want to build on top of it for a project I'm working on but I can't get step 7 to work. Everything else looks correct but the messages won't populate.

[2018-05-23 19:44] ashishvibhakar commented on #279
I have not changed to name, but still messages not showing in step 7... Stuck in the code labs... Please help!

[2018-05-23 19:48] ashishvibhakar commented on #279
I have not changed the database name, but still messages not showing in step 7... Stuck in the code labs... Please help!

[2018-05-23 22:36] slp7711 opened #280 "Why I get this message om my friendlychat-web?"
"Warning: You're using Node.js v8.11.2 but Google Cloud Functions only supports v6.11.5."

[2018-05-25 07:31] SuperRoo123 opened #281 "Unable to get messaging token"
Hi
have followed the project and got my function up there..adds fine to the database...but... says "Unable to get messaging token. " I believe it is to do with the firebase-messaging-sw.js not being initialised.

Am hosting on firebase and followed the project...what's the solution.

[2018-05-25 10:30] maxcorbeau opened #282 "Hosting ignore rules missing the functions"
`firebase.json` is missing the rule to ignore functions for hosting:
https://codelabs.developers.google.com/codelabs/firebase-web/#11

[code]

Whereas the actual file has it:
https://github.com/firebase/friendlychat-web/blob/master/web/firebase.json#L5-L7.json

The risk is that people overwrite `firebase.json` with code from the doc and end up pushing functions to cloud storage. It's OK for a test

[2018-05-25 20:20] nicolasgarnier commented on #282
Just added it! Thanks for pointing this out @maxcorbeau

[2018-05-25 20:20] #282 closed

[2018-05-30 04:39] wu4f commented on #262
Two things that I ran into with regard to this lab:

#1 If you're using firebase serve to get a preview of the app, you need to enable the domain it is served from in Firebase=>Authentication=>Sign-in Method=>Authorized Domains.   By default, the domain when doing firebase deploy is enabled by default

#2 The mechanism requires you to have third-party cookies enabled.  (Mine weren't).  So, in Goog

[2018-06-03 09:14] hungnd11 commented on #279
@ashishvibhakar  I encountered the same problem. You can fix it by changing the permission (in the Rules tab of Databases) such that all authenticated users can read from and write to the database:
[code]

The original value of rules is:
[code]

[2018-06-05 10:57] satishkrsharma commented on #30
hi @bojeil-google
I am developing a chrome extension.I have used firebase google sign for authentication using irebase.auth().signInWithPopup() method.It works well with Windows.But it do not works with Linux/Mac OS. A popup window appears for a while then it disappears.
Please suggest Solution.

[2018-06-05 15:14] insuusvenerati opened #283 "#8 Typo"
this.messagesRef.push({ should be this.messageRef.push({

[2018-06-05 16:54] bojeil-google commented on #30
I just tested in Linux/Mac and it works as expected. This is definitely an issue on your end. It is impossible for me to speculate on the reason.

[2018-06-05 19:28] insuusvenerati commented on #283
I mean, i'm not a programmer but `this.messagesRef.push` didn't work and `this.message.Ref.push` did so that leads me to believe it's incorrect. I can demonstrate of course.

Here is the function, edited up to step 8, copy pasted directly from the site.
[code]
Notice `this.messagesRef.push({`

Screenshot of the page served on localhost with console enabled.
https://a.uguu.se/uDKeEaWtIORA.png

And

[2018-06-05 19:31] insuusvenerati commented on #283
I see the problem :D I typed in `this.messageRef = this.database.ref('messages')` myself. lol I mean, i guess it isn't exactly incorrect? Oh well

[2018-06-05 19:35] nicolasgarnier commented on #283
Well as long as you use the same variable name then it should work  :D

I would just copy paste the code snippets to avoid typos :)

[2018-06-06 13:10] nehasoni3 commented on #30
@bojeil-google Thanks for replying.I checked my code again. It works only with MacMini but fails to works with Mac86x and more and linux .
`
  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL)
    .then(function () {
      firebase.auth().signInWithPopup(provider).then(function (result) {
        token = result.credential.accessToken;
      }).catch(function (error) {
        co

[2018-06-06 16:30] sadeq786 commented on #30
@bojeil-google I've tried adding my url 'localhost:3000' to Block Third Party Cookies > Allow but the problem persists. It only stops when I uncheck the 'Block third-party cookies' setting. Thoughts?

[2018-06-06 22:14] stann84 opened #284 "SwitchMapSubscriber.eval [as project]"
hi
thank you for this chat

 i dont know if is the good way to ask some help but i trying

I have this error i tryed to update rxjs but had been worse

Uncaught TypeError: Object(...) is not a function
    at SwitchMapSubscriber.eval [as project] (changes.js:7)
    at SwitchMapSubscriber._next (switchMap.js:91)
    at SwitchMapSubscriber.Subscriber.next (Subscriber.js:95)
    at RefCountSubscriber

[2018-06-12 20:26] Buravchik opened #285 "Step 6 is broken"
Platforms: MacOS, Win10.
Browser: Chrome 67.

Problem: Doing step 6. Deployment successful. Cant see messages in chat after sending them. I can see them in DB.

[2018-06-13 06:21] #258 closed

[2018-06-18 00:47] brandon-irl opened #286 ""chant" typo in web-start/scripts/main.js"
line 152 `// We load currently existing chant messages.`
should be `// We load currently existing chat messages.`

[2018-06-18 20:16] #175 closed

[2018-06-18 20:17] nicolasgarnier commented on #256
User's don't need to be added. This is more like an open forum than a "private chat" per say.

[2018-06-18 20:17] #256 closed

[2018-06-18 20:17] #286 closed

[2018-06-18 20:46] nicolasgarnier commented on #281
Hey @SuperRoo123 sorry for the delay. It could happen if you have blocked the notifications when you were prompted to enable them.

Yu can follow this to re-enable them: https://support.google.com/chrome/answer/3220216?co=GENIE.Platform%3DDesktop&hl=en

Otherwise could you check the error message? It may contain more details :)

[2018-06-18 20:46] #281 closed

[2018-06-18 20:52] nicolasgarnier commented on #259
Thanks @craigfisk fixed!

[2018-06-18 20:52] #259 closed

[2018-06-18 20:54] nicolasgarnier commented on #265
I believe this is related to: https://github.com/firebase/firebase-js-sdk/issues/77

Closing in it's favor

[2018-06-18 20:54] #265 closed

[2018-06-18 21:30] jlara310 opened #288 "Typos in Step 7"
"To synchronize messages on the app we'll need to add listeners that triggers when changes are made to the data and then create a UI element that show new messages."
triggers -> trigger

"This is where we'll register the listeners that listens to changes made to the data."
listens -> listens